.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #fff;
    padding: .4em 3em;
    text-decoration: none !important;
}


.btn-primary, .dn-btn-primary, .dn-btn-secondary {
    text-transform: uppercase;
    line-height: 1.5;
    border-radius: 0;
    border-color: transparent;
}

.btn-primary {
    color: #fff !important;
    background-color: #96af2b;
}

.red {
    color: red;
}