/* saira-regular - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/saira-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/assets/fonts/saira-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/saira-v8-latin-regular.woff2") format("woff2"), url("/assets/fonts/saira-v8-latin-regular.woff") format("woff"), url("/assets/fonts/saira-v8-latin-regular.ttf") format("truetype"), url("/assets/fonts/saira-v8-latin-regular.svg#Saira") format("svg");
  /* Legacy iOS */
  font-display: swap;
}
/* saira-500 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/saira-v8-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/assets/fonts/saira-v8-latin-500.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/saira-v8-latin-500.woff2") format("woff2"), url("/assets/fonts/saira-v8-latin-500.woff") format("woff"), url("/assets/fonts/saira-v8-latin-500.ttf") format("truetype"), url("/assets/fonts/saira-v8-latin-500.svg#Saira") format("svg");
  /* Legacy iOS */
  font-display: swap;
}
/* saira-700 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/saira-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/assets/fonts/saira-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/saira-v8-latin-700.woff2") format("woff2"), url("/assets/fonts/saira-v8-latin-700.woff") format("woff"), url("/assets/fonts/saira-v8-latin-700.ttf") format("truetype"), url("/assets/fonts/saira-v8-latin-700.svg#Saira") format("svg");
  /* Legacy iOS */
  font-display: swap;
}
/* saira-800 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/saira-v8-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/assets/fonts/saira-v8-latin-800.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/saira-v8-latin-800.woff2") format("woff2"), url("/assets/fonts/saira-v8-latin-800.woff") format("woff"), url("/assets/fonts/saira-v8-latin-800.ttf") format("truetype"), url("/assets/fonts/saira-v8-latin-800.svg#Saira") format("svg");
  /* Legacy iOS */
  font-display: swap;
}
/* saira-600 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/saira-v8-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/assets/fonts/saira-v8-latin-600.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/saira-v8-latin-600.woff2") format("woff2"), url("/assets/fonts/saira-v8-latin-600.woff") format("woff"), url("/assets/fonts/saira-v8-latin-600.ttf") format("truetype"), url("/assets/fonts/saira-v8-latin-600.svg#Saira") format("svg");
  /* Legacy iOS */
  font-display: swap;
}
/* saira-900 - latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/saira-v8-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/assets/fonts/saira-v8-latin-900.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/saira-v8-latin-900.woff2") format("woff2"), url("/assets/fonts/saira-v8-latin-900.woff") format("woff"), url("/assets/fonts/saira-v8-latin-900.ttf") format("truetype"), url("/assets/fonts/saira-v8-latin-900.svg#Saira") format("svg");
  /* Legacy iOS */
  font-display: swap;
}
html {
  font-size: 18px;
}
@media (max-width: 767.98px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

a, a:hover {
  color: #ffffff;
}

a:focus, a:active {
  outline: none;
  color: #ffffff;
}

b, strong, .strong {
  font-weight: 800;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0;
  font-weight: 900;
  line-height: 1.1;
  color: #ffffff;
  font-family: 'Saira', sans-serif;
}

h1, .h1 {
  font-size: 3.3333333333rem;
  margin: 0 0 1em;
}

h2, .h2 {
  font-size: 2.5rem;
  margin: 0 0 .5em;
  font-weight: 800;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 1.9444444444rem;
  margin: 0 0 .5em;
  font-weight: 400;
}

p + p {
  margin-top: 8px;
}

@media (max-width: 767.98px) {
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 1.9444444444rem;
  }

  h3, .h3 {
    font-size: 1.0555555556rem;
  }
}
hr {
  border-top: 1px solid #ffffff;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: square;
}

.red {
  color: #CA433F;
}

.link {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
  position: relative;
  text-decoration: none;
}
.link:after {
  position: absolute;
  right: 100%;
  top: 50%;
  width: 40px;
  height: 8px;
  background: url(/assets/img/arrow-right.svg) no-repeat top left;
  transform: translateY(-50%);
  content: '';
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon.icon-fb {
  background-image: url(/assets/img/_fb.svg);
}
.icon.icon-ig {
  background-image: url(/assets/img/_ig.svg);
}

.liststyle li {
  margin-left: 50px;
  list-style: none;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}
.liststyle li:after {
  background: url(/assets/img/check_point.svg) no-repeat;
  background-size: contain;
  width: 32px;
  height: 27px;
  left: -50px;
  content: '';
  position: absolute;
  top: 0;
}

.breadcrumbs {
  margin: 15px 0;
}
.breadcrumbs ul {
  margin-left: 0;
  padding-left: 0;
}
.breadcrumbs li {
  display: inline-block;
  list-style: none;
  font-size: 1.1111111111rem;
  font-weight: 500;
  margin-left: 0;
}
.breadcrumbs li a {
  text-decoration: none;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
.breadcrumbs li + li {
  margin-left: 10px;
  position: relative;
}
.breadcrumbs li + li:before {
  content: '>';
  position: relative;
  left: 0;
  color: #CA433F;
}

.tabs-outer .tabs {
  border-bottom: 1px solid #ffffff;
}
.tabs-outer .tab {
  color: #ffffff;
  opacity: 0.45;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.tabs-outer .tab.active, .tabs-outer .tab:hover {
  opacity: 1;
}
.tabs-outer .tab-content {
  display: none;
  margin: 30px 0 60px;
}
.tabs-outer .tab-content.active {
  display: block;
}

@media (min-width: 1620px) {
  .w-xl-100 {
    width: 100%;
  }
}

.bgimage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgimagecontain {
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}

.bgimagebottom {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bgimageparallax {
  background-attachment: fixed;
  background-position-x: 0 !important;
  background-position-y: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.cursor-pointer {
  cursor: pointer;
}

body.loading {
  position: relative;
}
body.loading:after {
  position: fixed;
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/img/Spinner-1s-200px.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999999;
}

.navbar {
  height: 90px;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  /*background-color: $color-navbar;*/
  align-items: baseline;
  padding: 30px 60px 0;
  transition: all 0.2s ease-in-out;
  /* Navbar Toggler */
  /* Navbar Toggler END */
}
@media (prefers-reduced-motion: reduce) {
  .navbar {
    transition: none;
  }
}
.navbar li {
  list-style-type: none;
}
.navbar .navbar-brand img {
  height: 106px;
}
.navbar .navbar-brand {
  position: absolute;
  right: 60px;
  margin-left: 30px;
  top: 50px;
  transition: all 0.2s ease-in-out;
  /* @include media-breakpoint-down(lg) {
       right: 0;
   }*/
}
.navbar .navbar-brand svg {
  height: 68px;
}
@media (prefers-reduced-motion: reduce) {
  .navbar .navbar-brand {
    transition: none;
  }
}
@media (max-width: 1200px) {
  .navbar .navbar-brand {
    right: 0;
  }
}
.navbar .nav-item {
  position: relative;
  /*height: 90px;*/
  /*&:after {
      position: absolute;
      content: '';
      right: 0;
      top: 4px;
      bottom: 4px;
      width: 1px;
      background-color: #e3e1e0;
  }*/
}
.navbar .nav-link {
  text-transform: uppercase;
  font-size: 1.0555555556rem;
  text-align: center;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  padding: 22px 1.5rem !important;
  color: #ffffff !important;
  /*.fontPrimaryCondensed;*/
  letter-spacing: 2px;
}
@media (prefers-reduced-motion: reduce) {
  .navbar .nav-link {
    transition: none;
  }
}
.navbar .nav-link span {
  display: block;
  text-transform: none;
  font-size: 0.8888888889rem;
  font-weight: 400;
}
.navbar .nav-item.active .nav-link, .navbar .nav-item:hover .nav-link {
  /*color: @colorGreen;*/
}
.navbar .nav-item:last-child:after {
  display: none;
}
.navbar .bookct {
  background-color: red;
  width: 400px;
  height: 90px;
}
.navbar .hover-menu {
  position: absolute;
  /*left: 0;
  right: 0;*/
  /*top: 90px;*/
  top: 100%;
  /*background-color: rgba(206,114,133,0.9);*/
  background-color: rgba(150, 150, 150, 0.9);
  z-index: 9999;
  text-align: center;
  padding: 15px 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  /*.fontSecondary;*/
  font-weight: 600;
  font-size: 1.0555555556rem;
  font-style: italic;
}
@media (prefers-reduced-motion: reduce) {
  .navbar .hover-menu {
    transition: none;
  }
}
.navbar .hover-menu ul {
  margin-left: 0;
  padding-left: 0;
}
.navbar .hover-menu li {
  display: block;
  position: relative;
  text-align: left;
  padding: 4px 0;
}
.navbar .hover-menu li a {
  padding: 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  /*color: #ffffff;*/
}
.navbar .hover-menu li a:hover {
  text-decoration: none;
  /*color: @colorPrimary;*/
}
.navbar .hover-menu li:after {
  position: absolute;
  right: 0;
  top: 4px;
  bottom: 4px;
  /*background-color: @colorGrey;*/
  content: '';
  width: 1px;
}
.navbar .hover-menu li:last-child:after {
  display: none;
}
.navbar .hover-menu:after {
  top: -53px;
  left: 0;
  right: 0;
  height: 50px;
  /*box-shadow: 0 0px 20px rgba(0,0,0,.3);*/
  position: absolute;
  content: '';
  z-index: 999999;
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .navbar .hover-menu {
    /*border-top: 1px solid @color-font;*/
    background-color: #eeeeee;
    display: none;
    position: relative;
    opacity: 1;
    visibility: visible;
    /*position: relative;
    max-height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;*/
  }
  .navbar .hover-menu li {
    text-align: center;
  }
}
.navbar .nav-item:hover .hover-menu {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991.98px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .navbar-collapse {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    position: relative;
  }
  .navbar .nav-link {
    color: #ffffff !important;
  }
  .navbar .nav-item.haschilds .nav-link {
    position: relative;
  }
  .navbar .nav-item.haschilds .nav-link:before {
    position: absolute;
    right: 10px;
    top: 10px;
    content: '+';
    width: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 50px;
    text-align: center;
  }
  .navbar .nav-item.haschilds.active .nav-link:before {
    content: '-';
  }
  .navbar .nav-item.haschilds.active .hover-menu {
    display: block;
    /*max-height: 1000px;
    padding: 15px 30px;
    opacity: 1;
    visibility: visible;*/
  }
}
@media (min-width: 992px) {
  .navbar .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}
.navbar .navbar-toggler {
  display: inline-block !important;
  border: none;
}
.navbar .navbar-toggler:focus {
  outline: none;
}
.navbar .navbar-toggler {
  border: none;
  position: relative;
  background: transparent !important;
}
@media (max-width: 767.98px) {
  .navbar .navbar-toggler {
    left: 15px;
  }
}
.navbar .navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}
.navbar .navbar-toggler .icon-bar {
  background-color: #ffffff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
}
@media (prefers-reduced-motion: reduce) {
  .navbar .navbar-toggler .icon-bar {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-toggler .icon-bar {
    background-color: #ffffff;
  }
}
.navbar .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar .navbar-toggler .text {
  position: absolute;
  left: 100%;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.0555555556rem;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 14px;
  margin-top: -6px;
}
@media (max-width: 991.98px) {
  .navbar .navbar-toggler .text {
    display: none;
  }
}
.navbar .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}
.navbar .navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}
.navbar .navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}
.navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}
.navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}
.navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

#logo {
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #logo {
    transition: none;
  }
}
#logo .c1 {
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #logo .c1 {
    transition: none;
  }
}

body.minnav .navbar {
  background: #000000;
}
body.minnav .navbar .navbar-brand {
  top: 4px;
  height: 40px;
}
body.minnav #logo {
  height: 68px;
}
body.minnav #logo .c1 {
  fill: #ffffff !important;
}
@media (max-width: 767.98px) {
  body.minnav #logo {
    height: 40px;
    margin-top: 16px;
    text-align: right;
  }
}

#nav-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: none;
  background: #000000;
}
#nav-overlay.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
#nav-overlay .navbar-toggler {
  position: absolute;
  top: 30px;
  left: 30px;
}
@media (max-width: 767.98px) {
  #nav-overlay .navbar-toggler {
    top: 20px;
    left: 6px;
  }
}
#nav-overlay .navbar-toggler .icon-bar {
  background-color: #CA433F;
}
#nav-overlay .outer {
  height: 100%;
  width: 100%;
}
#nav-overlay .outer .inner {
  margin: 60px;
  margin-top: 90px;
  margin-left: 90px;
  overflow: auto;
}
@media (min-width: 768px) {
  #nav-overlay .outer .inner {
    height: 80%;
  }
}
#nav-overlay .outer .left {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  background: #000000;
  border: 25px solid #ffffff;
  bottom: 0;
  border-right: 0;
}
#nav-overlay .outer .right {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}
#nav-overlay .outer .right:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #CA433F;
  opacity: 0.6;
  content: '';
}
#nav-overlay .outer .right:before {
  position: absolute;
  top: 60px;
  right: 60px;
  content: '';
  width: 330px;
  height: 70px;
  background: url(/Assets/img/logo-white.svg) no-repeat;
  background-size: contain;
  background-position: top right;
  z-index: 1;
}
#nav-overlay .outer .right .bgimage {
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  #nav-overlay .outer {
    height: auto;
    max-height: 100%;
    overflow: auto;
  }
  #nav-overlay .outer .left {
    right: 0;
    border: 10px solid #ffffff;
    position: relative;
  }
  #nav-overlay .outer .left .inner {
    margin: 90px 60px 60px 0;
  }
  #nav-overlay .outer .right {
    display: none;
  }
}
#nav-overlay .nav-item-overlay {
  text-align: left;
}
#nav-overlay .nav-item-overlay a {
  display: block;
  position: relative;
}
#nav-overlay .nav-item-overlay .nav-link {
  font-size: 3.8888888889rem;
  text-align: left;
  text-transform: initial;
}
#nav-overlay .nav-item-overlay .nav-link:after {
  position: absolute;
  bottom: 8px;
  left: 150px;
  right: 0;
  height: 1px;
  background: #ffffff;
  content: '';
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .nav-item-overlay .nav-link:after {
    transition: none;
  }
}
#nav-overlay .nav-item-overlay .nav-link:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 81px;
  height: 19px;
  display: block;
  background: url(/Assets/img/arrow-right-white.svg) no-repeat;
  background-position: center;
  background-size: contain;
  filter: invert(100%) sepia(4%) saturate(7495%) hue-rotate(186deg) brightness(102%) contrast(110%);
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .nav-item-overlay .nav-link:before {
    transition: none;
  }
}
#nav-overlay .nav-item-overlay .nav-link:hover:before {
  filter: invert(32%) sepia(29%) saturate(4767%) hue-rotate(341deg) brightness(88%) contrast(77%);
}
@media (max-width: 1619.98px) {
  #nav-overlay .nav-item-overlay .nav-link {
    font-size: 1.9444444444rem;
  }
}
@media (max-width: 1619.98px) {
  #nav-overlay .nav-item-overlay .nav-link {
    font-size: 1.9444444444rem;
    margin-left: 15px;
  }
  #nav-overlay .nav-item-overlay .nav-link:after {
    left: 15px;
  }
  #nav-overlay .nav-item-overlay .nav-link:before {
    right: 15px;
    width: 38px;
  }
}
@media (max-width: 400px) {
  #nav-overlay .nav-item-overlay .nav-link {
    font-size: 1.0555555556rem;
  }
}
#nav-overlay .nav-item-overlay .nav-item-sub {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  z-index: 1;
  top: 136px;
  margin-left: -60px;
  padding-left: 90px;
  font-size: 2.5rem;
  line-height: 1.3;
  bottom: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .nav-item-overlay .nav-item-sub {
    transition: none;
  }
}
#nav-overlay .nav-item-overlay .nav-item-sub a {
  /*&:hover{
      text-decoration: none;
  }*/
}
@media (max-width: 1619.98px) {
  #nav-overlay .nav-item-overlay .nav-item-sub {
    font-size: 1.9444444444rem;
  }
}
@media (max-width: 991.98px) {
  #nav-overlay .nav-item-overlay .nav-item-sub {
    position: relative;
    /* max-height: 0; */
    left: auto;
    right: auto;
    top: auto;
    display: none;
    opacity: 1;
    margin: 0;
    visibility: visible;
    font-size: 1.0555555556rem;
  }
}
#nav-overlay .nav-item-overlay.active .nav-item-sub, #nav-overlay .nav-item-overlay:hover .nav-item-sub {
  opacity: 1;
  visibility: visible;
}
#nav-overlay .nav-item-overlay.active .nav-link, #nav-overlay .nav-item-overlay:hover .nav-link {
  margin-left: 100px;
}
#nav-overlay .nav-item-overlay.active .nav-link:after, #nav-overlay .nav-item-overlay:hover .nav-link:after {
  left: 50px;
}
#nav-overlay .nav-item-overlay.active .nav-link:before, #nav-overlay .nav-item-overlay:hover .nav-link:before {
  right: 0px;
}
@media (max-width: 1619.98px) {
  #nav-overlay .nav-item-overlay.active .nav-link, #nav-overlay .nav-item-overlay:hover .nav-link {
    margin-left: 15px;
  }
}
@media (max-width: 991.98px) {
  #nav-overlay .nav-item-overlay.active .nav-item-sub, #nav-overlay .nav-item-overlay:hover .nav-item-sub {
    display: block;
  }
  #nav-overlay .nav-item-overlay.active .nav-link, #nav-overlay .nav-item-overlay:hover .nav-link {
    margin-left: 15px;
  }
}
#nav-overlay .subnav {
  /*display: inline-block;*/
  padding-right: 60px;
}
#nav-overlay .subnav a {
  display: block;
  font-weight: 600;
}
#nav-overlay .subnav .nav-link-subnav {
  margin: 30px 0;
  transition: all 0.2s ease-in-out;
  padding-right: 90px;
  position: relative;
  width: 40%;
  margin-left: 30px;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .subnav .nav-link-subnav {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  #nav-overlay .subnav .nav-link-subnav {
    overflow: hidden;
  }
}
@media (max-width: 991.98px) {
  #nav-overlay .subnav .nav-link-subnav {
    width: 70%;
    padding-right: 0;
  }
}
@media (max-width: 767.98px) {
  #nav-overlay .subnav .nav-link-subnav {
    width: 100%;
  }
}
#nav-overlay .subnav .nav-link-subnav a {
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .subnav .nav-link-subnav a {
    transition: none;
  }
}
#nav-overlay .subnav .nav-link-subnav.hassubnav {
  /*position: relative;*/
}
#nav-overlay .subnav .nav-link-subnav.hassubnav:after {
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  background: url(/Assets/img/arrow-right-white.svg) no-repeat center;
  background-size: contain;
  width: 32px;
  content: '';
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(249deg) brightness(105%) contrast(105%);
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .subnav .nav-link-subnav.hassubnav:after {
    transition: none;
  }
}
#nav-overlay .subnav .nav-link-subnav:hover.hassubnav:after {
  filter: invert(36%) sepia(43%) saturate(906%) hue-rotate(314deg) brightness(96%) contrast(101%);
  right: -30px;
}
@media (max-width: 991.98px) {
  #nav-overlay .subnav .nav-link-subnav:hover.hassubnav:after {
    right: 0;
  }
}
#nav-overlay .subnav .nav-link-subnav:hover {
  padding-left: 30px;
}
@media (max-width: 767.98px) {
  #nav-overlay .subnav .nav-link-subnav:hover {
    padding-left: 10px;
  }
}
#nav-overlay .subnav .nav-link-subnav a:hover {
  text-transform: none;
  color: #CA433F;
}
#nav-overlay .subnav .nav-link-subnav .nav-link-subnav-sub {
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0;
  padding-left: 90px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  /*max-height: 0;*/
  /*overflow: hidden;*/
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .subnav .nav-link-subnav .nav-link-subnav-sub {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  #nav-overlay .subnav .nav-link-subnav .nav-link-subnav-sub {
    position: relative;
    left: 0;
    padding-left: 30px;
    max-height: 0;
    /*      opacity: 1;
    visibility: visible;*/
  }
  #nav-overlay .subnav .nav-link-subnav .nav-link-subnav-sub div {
    margin-top: 15px;
  }
}
#nav-overlay .subnav .nav-link-subnav .nav-link-subnav-sub div + div {
  margin-top: 15px;
}
#nav-overlay .subnav .nav-link-subnav:hover .nav-link-subnav-sub {
  opacity: 1;
  visibility: visible;
  max-height: 500px !important;
  overflow: visible;
}
#nav-overlay .languages {
  position: absolute;
  bottom: 30px;
  left: 45px;
}
#nav-overlay .languages a {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 8px;
}
#nav-overlay .languages a.active,
#nav-overlay .languages a:hover {
  text-decoration: none;
  color: #CA433F;
}
#nav-overlay .info {
  position: absolute;
  bottom: 30px;
  right: 15px;
  margin-right: 15px;
  text-align: right;
  font-size: 1rem;
}
#nav-overlay .info p {
  margin-bottom: 0;
}
#nav-overlay .info a {
  font-size: 1.3888888889rem;
  font-weight: 800;
}
@media (min-width: 768px) and (max-height: 900px) {
  #nav-overlay .info {
    right: 0;
    position: fixed;
    z-index: 99;
  }
}

@media (max-width: 991.98px) {
  #nav-overlay .info {
    right: 0;
    left: 0;
    text-align: center;
  }
}
#nav-overlay .social {
  position: absolute;
  left: 45px;
  top: 50%;
}
#nav-overlay .social .icon {
  background-color: #CA433F;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  display: block;
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #nav-overlay .social .icon {
    transition: none;
  }
}
#nav-overlay .social .icon:hover {
  background-color: #a8322e;
}
#nav-overlay .social a {
  display: block;
}
#nav-overlay .social a + a {
  margin-top: 30px;
}
#nav-overlay .social .icon-fb {
  background-image: url(/Assets/img/fb.svg);
}
#nav-overlay .social .icon-ig {
  background-image: url(/Assets/img/ig.svg);
}
#nav-overlay .social .icon-search {
  background-image: url(/Assets/img/search.svg);
}
@media (max-width: 991.98px) {
  #nav-overlay .languages, #nav-overlay .info, #nav-overlay .social {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  #nav-overlay .social {
    text-align: center;
  }
  #nav-overlay .social a {
    display: inline-block;
    margin: 15px 10px;
  }
  #nav-overlay .languages {
    text-align: center;
    margin: 15px 0;
  }
}

body.nav-active {
  height: 100%;
  overflow: hidden;
}

/* -- Header
------------------------------------------------------------- */
header {
  overflow: hidden;
  /*margin-top: 90px;*/
  position: relative;
  padding: 25px;
  background-color: #ffffff;
}
@media (max-width: 767.98px) {
  header {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  header {
    margin-top: 65px;
  }
  header[data-height="0"] {
    padding: 0 !important;
  }
}
header.small {
  background: none;
  height: auto !important;
  padding-bottom: 0;
}
@media (min-width: 992px) {
  header.small .headerslider {
    /* width: (1580 * (10 / 12)) + px;
    height: ((1580 * (10 / 12)) * 0.379) + px;*/
    width: 1580px;
    height: 598.82px;
    margin: auto;
    margin-top: 200px;
  }
}
header .header-title {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  font-size: 3.3333333333rem;
  z-index: 1;
}
header .header-title h1 {
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  header .header-title h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  header .header-title h1 {
    font-size: 1.9444444444rem;
  }
}
@media (max-width: 450px) {
  header .header-title {
    bottom: 0;
  }
  header .header-title h1 {
    font-size: 1.9444444444rem;
  }
}
header .header-image {
  position: relative;
  /*transition: all 10ms linear;*/
}
header .header-image:not(.nobg):after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.2);
}
@media (max-height: 900px) {
  header .header-text {
    display: none !important;
  }
}
header .header-title-cat {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  /* h1 {
  }*/
}
header .header-title-cat:before {
  background: rgba(202, 67, 63, 0.66);
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  top: 0;
  right: 50%;
}
@media (max-width: 991.98px) {
  header .header-title-cat:before {
    right: 0;
  }
}
header .header-title-cat h1 {
  font-weight: 800;
  font-size: 3.3333333333rem;
  text-transform: uppercase;
}
@media (max-width: 1619.98px) {
  header .header-title-cat h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 991.98px) {
  header .header-title-cat h1 {
    font-size: 1.9444444444rem;
  }
}
header .header-title-cat .container, header .header-title-cat .row {
  height: 100%;
}
header .header-title-cat img {
  height: 130px;
  margin-bottom: 60px;
  margin-left: 90px;
}
@media (max-width: 767.98px) {
  header .header-title-cat img {
    height: 70px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
header .headerslider {
  /*height: 650px;*/
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
header .headerslider .slick-list,
header .headerslider .slick-track,
header .headerslider .slick-slide {
  width: 100%;
  height: 100%;
}
header .headerslider .headerimage {
  /*height: 650px;*/
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
}
header .headerslider .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 300px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}
header .headerslider .content {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 5.5555555556rem;
  color: #fff;
  line-height: 1;
}
header .noheaderimage {
  height: 200px;
}
@media (max-width: 767.98px) {
  header .headerslider .content {
    font-size: 2.5rem;
    text-shadow: 0 0 1px #333;
  }
}
@media (max-width: 575.98px) {
  header .headerslider .content {
    font-size: 1.9444444444rem;
    text-shadow: 0 0 1px #333;
  }
}

.headertext-mobile {
  padding: 30px;
  background: #ffffff;
  color: #000000;
}
@media (max-width: 767.98px) {
  .headertext-mobile {
    padding: 30px 0;
  }
}

/*@import "_sections.scss";
@import "_plugin_overrides.scss";
@import "_forms.scss";
@import "_footer.scss";*/

/*# sourceMappingURL=site_critical_css.css.map */
