﻿@using System.Threading
@using DiNa4.Web.Helpers
@model Dina4.Web.Models.EnquiryPostModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
            #outlook a { padding: 0; }	@*/* Force Outlook to provide a "view in browser" button. */*@
            body { width: 100% !important; }
            html, body { background-color: #F5F5F3; margin: 0; padding: 0; }
            img { height: auto; line-height: 100%; outline: none; text-decoration: none;display: block; }
            br, strong br, b br, em br, i br { line-height: 100%; }
            h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; color: #004479 !important; }
            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #004479 !important; }
            h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active { color: red !important; }
            h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: purple !important; }
            @*table td, table tr { border-collapse: collapse; }*@
            hr { border: 0px; /* Für Firefox und Opera */ border-top: solid 1px #ececec; border-bottom: solid 1px #FFFFFF; width: 580px; }
            code { white-space: normal; word-break: break-all; }
            body { font-family: Helvetica Neue, Arial, Helvetica, Geneva, sans-serif; }
            @{
                var backgrouncolor = "";
                var color = "";
            }
            @{
                backgrouncolor = "379CC8";
                color = "ffffff";
            }
    </style>
    <!--[if gte mso 9]>
        <style _tmplitem="407" >
            .article-content ol, .article-content ul {
                margin: 0 0 0 24px;
                padding: 0;
                list-style-position: inside;
            }
        </style>
    <![endif]-->
</head>
<body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="center" bgcolor="#F5F5F3">
                    <table width="640" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="640" bgcolor="#ffffff">
                                    <table width="640" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="60">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="30"></td>
                                                <td width="580">
                                                    <table width="580" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="580" style="text-align:center;" align="center">
                                                                    <h2 style="color:#004479; text-align:center;">@T.Value("Newsletteranmeldung")</h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" width="580">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="580" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="580">
                                                                    <table width="580">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="290" align="right" style="font-weight: bold; padding-right: 8px;">@T.Value("E-Mail")</td>
                                                                                <td width="290" align="left" height="30" style="padding-left: 16px;">
                                                                                    <span>@Html.Raw(Model.Email)</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <table width="580" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="10" width="580"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="60">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10" width="640">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="640" align="right" style="text-align: right; font-size: 10px;">
                                    <p style="float:right; text-align: right; font-size: 10px;">-</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
