﻿@using Serilog.Events
@using System.Globalization
@using Dina4.Web.Helpers
@using DiNa4.Web.Helpers
@using Umbraco.Cms.Core.Cache
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject AppCaches appCaches
@{
    IPublishedContent siteHomePage = Model.Siblings().FirstOrDefault(_ => _.ContentType.Alias == FrontPage.ModelTypeAlias);
    int maxSiteMapDepth = Model.HasValue("maxSiteMapDepth") ? Model.Value<int>("maxSiteMapDepth") : int.MaxValue;
    string excludedDocumentTypeList = Model.Value<string>("excludedDocumentTypes");
    string[] excludedDocumentTypes = (!String.IsNullOrEmpty(excludedDocumentTypeList)) ? excludedDocumentTypeList.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select(p => p.Trim()).ToArray() : new string[] { };
    var languages = GetCurrentLanguageList(siteHomePage, CultureInfo.CurrentCulture.Name, appCaches);
}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://www.google.com/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">

    @{
        RenderSiteMapUrlEntry(siteHomePage);
        RenderSiteMapUrlEntriesForChildren(siteHomePage);
    }

</urlset>

@{
    void RenderSiteMapUrlEntry(IPublishedContent node) {
        var changeFreq = node.Value("searchEngineChangeFrequency", fallback: Fallback.To(Fallback.Ancestors, Fallback.DefaultValue), defaultValue: "monthly");
        // with the relative priority, this is a per page setting only, so we're not using recursion, so we won't set Fallback.ToAncestors here and we'll default to 0.5 if no value is set
        //var priority = node.HasValue("searchEngineRelativePriority") ? node.Value<string>("searchEngineRelativePriority") : "0.5";
        var priority = ((decimal)1.0 / node.Level).ToString("0.0", CultureInfo.InvariantCulture);

        var languages = GetCurrentLanguageList(node, CultureInfo.CurrentCulture.Name, appCaches);

        if (languages != null) {
            foreach (var item in languages) {
                <url>
                    <loc>@item.Url</loc>
                    <lastmod>@(string.Format("{0:s}+00:00", node.UpdateDate))</lastmod>
                    <changefreq>@changeFreq</changefreq>
                    <priority>@priority</priority>
                </url>
            }
        } else {
            <url>
                <loc>@node.Url(mode: UrlMode.Absolute)</loc>
                <lastmod>@(string.Format("{0:s}+00:00", node.UpdateDate))</lastmod>
                <changefreq>@changeFreq</changefreq>
                <priority>@priority</priority>
            </url>
        }
    }

    void RenderSiteMapUrlEntriesForChildren(IPublishedContent parentPage) {
        foreach (var page in parentPage.Children
            .Where(x => !excludedDocumentTypes.Contains(x.ContentType.Alias)
                        && !x.Value<bool>("hideFromXmlSiteMap")
                        && x.IsPublished()
                        && x.Value<bool>("noindex", fallback: Fallback.ToAncestors) == false
                        && x.TemplateId != 0
                        && x.ContentType.Alias.Contains("Page")
                        && x.Value<IPublishedContent>("umbracoRedirect") == null
                )) {
            RenderSiteMapUrlEntry(page);
            if (page.Level < maxSiteMapDepth && page.Children.Any(x => !x.Value<bool>("hideFromXmlSiteMap"))) {
                RenderSiteMapUrlEntriesForChildren(page);
            }
        }

    }

    List<WebsiteUrlHelper.CultureUrl> GetCurrentLanguageList(IPublishedContent currentPage, string currentCulture, AppCaches caches) {
        var home = currentPage.Root();
        //var rootCultures = GetRootCultures(home, caches);
        //Order current culture first
        var rootCultures = GetRootCultures(home, caches).OrderByDescending(_ => _.Culture.InvariantEquals(currentCulture));
        var pageCultures = currentPage.Cultures.Select(x => x.Value);
        var mapped = new List<WebsiteUrlHelper.CultureUrl>();

        foreach (var root in rootCultures) {
            var pageMatch = pageCultures.FirstOrDefault(c => c.Culture == root.Culture);
            WebsiteUrlHelper.CultureUrl mappedPage = null;

            if (pageMatch != null) {
                string url = currentPage.Url(pageMatch.Culture, UrlMode.Absolute);

                if (url != "#") {
                    mappedPage = new WebsiteUrlHelper.CultureUrl() {
                                Culture = pageMatch.Culture,
                                Url = url
                            };
                }
            }

            if (mappedPage != null) {
                mapped.Add(mappedPage);
            }
        }

        return mapped;
    }

    IEnumerable<PublishedCultureInfo> GetRootCultures(IPublishedContent currentPage, AppCaches caches) {
        return caches.RuntimeCache.GetCacheItem("RootCultures", () => currentPage.Cultures.Select(x => x.Value).ToList());
    }
}
