﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var currentPage = Model;
    List<IPublishedContent> items = new List<IPublishedContent>();
    while (currentPage != null) {
        items.Add(currentPage);
        currentPage = currentPage.Level > 1 ? currentPage.Parent : null;
    }
    items.Reverse();

    if (Model.ContentType.Alias == FrontPage.ModelTypeAlias) {
        items = null;
    }
}

<section class="breadcrumbs">
    <div class="container">
        @if (items != null) {
            <ul class="website-breadcrumb triangle">
                @foreach (var i in items) {
                    if (i == items.First()) {
                        <li>
                            <a href="/">Home</a>
                        </li>
                    } else if (i != items.Last()) {
                        <li>
                            <i class="icon icon-Icon_Arrow_Right"></i> <a href="@i.Url()">@i.Name</a>
                        </li>
                    } else {
                        <li class="current">
                            @{
                                var name = "";
                                if (i.ContentType.Alias == "packagePage") {
                                } else if (i.ContentType.Alias == "roomcategoryPage") {
                                } else {
                                    <i class="icon icon-Icon_Arrow_Right"></i>
                                    <span> @i.Name</span>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        }
    </div>
</section>
