﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject IPublishedValueFallback _publishedValueFallback;
@{
    var viewModel = new Content(Model, _publishedValueFallback);
}

@if (!String.IsNullOrEmpty(viewModel.Title.ToHtmlString()) || !String.IsNullOrEmpty(viewModel.Text.ToHtmlString())){
<section class="maincontent" id="maincontent" data-aos="fade-in">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 content-text">
                <h1 class="text-center">@viewModel.Title.PrepareForHeading()</h1>
                @Html.Raw(viewModel.Text)
            </div>
        </div>
    </div>
</section>
}