﻿@using Dina4.Web.src
@using DiNa4.Web.Helpers
@using Microsoft.AspNetCore.Http
@using DiNa4.Web.Extensions
@using Microsoft.Extensions.Options

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var i = 1;
    var home = UmbracoContext.PublishedRequest.PublishedContent.StartPage();
}
<div class="mt-5">
    <div class="row">
        <div class="col-12">
            <form action="" id="enquiryform" class="enquiryform" method="POST">
                @{
                    var sporttype = Model.StartPage().Descendants().Where(_ => _.ContentType.Alias == ProductCategoryPage.ModelTypeAlias);
                    var isProduct = Model.ContentType.Alias == ProductPage.ModelTypeAlias;
                }
                <input type="hidden" name="languageId" value="@((int) Global.GetLanguage())" />
                @*<input type="hidden" name="referer" value="@(Context.Session.GetString(AppSettings.EXTERNAL_REFERER))" />*@
                <input type="hidden" name="ip" value="@Context.GetIpAddress()" />
                <input type="hidden" name="startpageid" value="@Model.AncestorOrSelf(1).Id" />
                @if (Model.ContentType.Alias == ProductPage.ModelTypeAlias) {
                    <input type="hidden" name="productId" value="@Model.Id" />
                }
                <div>
                    <h2>@T.Value("Interessieren Sie sich für unsere Produkte?")</h2>
                </div>
                <div class="row">
                    @if (isProduct != true) {
                        <div class="col-12">
                            <h3>@(i). @T.Value("Kategorie")</h3>
                            @{
                                i++;
                            }
                            <div class="ml-3">
                                @if (!String.IsNullOrEmpty(home.TextKategorie.ToHtmlString())) {
                                    <div class="mb-2">@home.TextKategorie</div>
                                }

                                @foreach (var x in sporttype) {
                                    <div class="radio">
                                        
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="c-@x.Id" name="category" value="@x.Id" class="custom-control-input"  required="">
                                            <label class="custom-control-label" for="c-@x.Id">@x.Name</label>
                                        </div>

                                        @*<label>*@
                                       @*     <input name="category" value="@x.Id" type="radio" data-serializearray="true" style="width: auto; display: inline-block;" required=""/>
                                            @x.Name
                                        </label>*@
                                    </div>
                                }
                                <div class="col-12">
                                    <label id="category-error" class="error" for="category" style="display: none"></label>
                                </div>
                                @foreach (var x in sporttype) {
                                    var sub = x.Descendants().Where(_ => _.ContentType.Alias == ProductSubCategoryPage.ModelTypeAlias);
                                    <div class="mt-2 mb-2" data-cat="@x.Id" style="display: none; font-size: 1.3rem" >@T.Value("Unterkategorie")</div>
                                    @foreach (var s in sub) {
                                        <div data-cat="@x.Id" style="display: none;">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="subcategory" value="@s.Id" id="s-@s.Id" data-serializearray="true">
                                                <label class="custom-control-label" for="s-@s.Id"> @s.Name</label>
                                            </div>
                                            @*  <label>
                                                <input name="subcategory" value="@s.Id" type="checkbox" data-serializearray="true" style="width: auto; display: inline-block;"/>
                                                @s.Name
                                            </label>*@
                                        </div>
                                    }

                                    <div data-cat="@x.Id" style="display: none;">
                                        <input type="text" name="altsubcategory" class="form-control" style="width: 400px; max-width: 100%; margin-top: 8px;" placeholder="@T.Value("Sie haben spezielle Vorstellungen?")"/>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="col-12  mb-3 mt-3">
                        <div class="form-group">
                            <h3>@(i). @T.Value("Grundfarben wählen") <small>(@T.Value("max 3 wählbar"))</small></h3>
                            @{
                                i++;
                            }
                            <div class="ml-3">
                                @if (!String.IsNullOrEmpty(home.TextGrundfarben.ToHtmlString())) {
                                    <div class="mb-2">@home.TextGrundfarben</div>
                                }@{
                                    var colors = Model.ProductColors();
                                }

                                <div class="row">
                                    <input name="primarycolor" id="primarycolor" type="hidden"/>
                                    @{
                                        var ci = 0;
                                    }
                                    @foreach (var x in colors) {
                                        if (ci == 9) {
                                            <div class="w-xl-100"></div>
                                        }
                                        <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1">
                                            <input type="checkbox" name="colors" class="check-with-label" id="color-@x.Name" style="height: 0; width: 0; opacity: 0; visibility: hidden" value="@x.Name" required="" data-required="@T.Value("ErrorMessageRequired")"/>

                                            <label for="color-@x.Name" style="display: block;" class="label-for-check">
                                                <span class="form-color" style=" background-color: @(x.HEX); " data-cursor="hover"></span>

                                            </label>
                                        </div>
                                        ci++;
                                    }
                                    <div class="col-12">
                                        <label id="colors-error" class="error" for="colors" style="display: none"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12  mb-3">
                        <div class="form-group">
                            <h3>@(i). @T.Value("Designvorstellungen")</h3>
                            @{
                                i++;
                            }
                            <div class="ml-3">
                                @if (!String.IsNullOrEmpty(home.TextDesignvorstellungen.ToHtmlString())) {
                                    <div class="mb-2">@home.TextDesignvorstellungen</div>
                                }<div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="custom-control custom-checkbox d-inline-block">
                                            <input type="checkbox" class="custom-control-input" name="introductions" value="klassik" id="klassik" data-serializearray="true" required="" data-required="@T.Value("ErrorMessageRequired")">
                                            <label class="custom-control-label" for="klassik" >@T.Value("Klassik")</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="custom-control custom-checkbox d-inline-block">
                                            <input type="checkbox" class="custom-control-input" name="introductions" value="Fantasie" id="Fantasie" data-serializearray="true" required="" data-required="@T.Value("ErrorMessageRequired")">
                                            <label class="custom-control-label" for="Fantasie"> @T.Value("Fantasie")</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label id="introductions-error" class="error" for="introductions" style="display: none"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="controls">
                            <h3>@(i). @T.Value("Logos")</h3>
                            @{
                                i++;
                            }
                            <div class="ml-3">
                                @if (!String.IsNullOrEmpty(home.TextLogos.ToHtmlString())) {
                                    <div class="mb-2">@home.TextLogos</div>
                                }<input type="file" id="file1" class="floatlabel" name="logo1"><br/>
                                <input type="file" id="file2" class="floatlabel" name="logo2">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">  <h3>@(i). @T.Value("Kontaktdaten")</h3></div>
                    @{
                        i++;
                    }
                        <div class="col-12">
                            <div class="ml-3">
                                @if (!String.IsNullOrEmpty(home.TextKontaktdaten.ToHtmlString())) {
                                    <div class="mb-2">@home.TextKontaktdaten</div>
                                }
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <div class="controls">
                                    <input type="text" id="firstname" class="floatlabel" name="firstname" required="" data-required="@T.Value("ErrorMessageRequired")">
                                    <i class="fa fas fa-check" aria-hidden="true" style="display: none;"></i>
                                    <label for="firstname">@T.Value("Vorname")*</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="controls">
                                    <input type="text" id="surname" class="floatlabel" name="surname" required="" data-required="@T.Value("ErrorMessageRequired")">
                                    <i class="fa fas fa-check" aria-hidden="true" style="display: none;"></i>
                                    <label for="surname">@T.Value("Nachname")*</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="controls">
                                    <input type="text" id="company" class="floatlabel" name="company">
                                    <i class="fa fas fa-check" aria-hidden="true" style="display: none;"></i>
                                    <label for="company">@T.Value("Firma")</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="controls">
                                    <input type="email" id="email" class="floatlabel" name="email" required="" data-required="@T.Value("ErrorMessageRequired")" data-email="@T.Value("ErrorMessageE-Mail")">
                                    <i class="fa fas fa-check" aria-hidden="true" style="display: none;"></i>
                                    <label for="email">@T.Value("E-Mail")*</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="controls">
                                    <textarea class="floatlabel" id="message" name="message"></textarea>
                                    <i class="fa fas fa-check" aria-hidden="true" style="display: none;"></i>
                                    <label for="message">@T.Value("Anmerkung")</label>
                                </div>
                            </div>
                        </div>   </div>
                        </div>
                @*    <div class="col-12">
                        <h2>@T.Value("Interessiert an")</h2>
                        <div class="row">
                            @{
                                var values = new List<string>() {
                            T.Value("Radfahren"),
                            T.Value("Laufen"),
                            T.Value("Wintersport"),
                            T.Value("Triathlon"),
                            T.Value("Mannschaftssport"),
                            T.Value("Werbeartikel"),
                            };
                            }

                            @foreach (var x in values) {
                                <div class="col-6 col-md-4 mt-1">
                                    <div class="checkbox">
                                        <label>
                                            <input name="interests" value="@x" type="checkbox" data-serializearray="true" />
                                            @x
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>*@
                    @*If you wannt privacy consent checkbox left aligned in newline
                        <div class="clearfix"></div>*@
                    <div class="col-12 col-md-12 mt-3 text-right">
                        <div class="checkbox">
                            <label>
                                <input id="privacy" name="privacy" data-setbool value="false" type="checkbox" required="" data-required="@T.Value("Privacy_Validation")" />
                                @{
                                    var privacyLink = "https://api.dina4.it/gdpr/api/text/" + _appSettings.Value.GDPR_ID + "?languageid=" + (int)Global.GetLanguage();
                                    var linkTag = string.Format("<a data-fancybox data-type=\"ajax\" data-src=\"{1}\" href =\"javascript:;\" target =\"_blank\" >{0}</a>", T.Value("Datenschutzbestimmungen"), privacyLink);
                                    @Html.Raw(string.Format(T.Value("Privacy_Consent"), linkTag))
                                }
                            </label>
                        </div>
                        <div class="col-12">
                            <label id="privacy-error" class="error" for="privacy" style="display:none"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="controls text-right">
                        <button type="submit" class="btn website-btn-primary pull-right">@T.Value("abschicken")</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="enquiryform-success" class="d-none col-12">
            @Html.Raw(T.Value("MessageSuccess"))<br />
        </div>
        <div id="enquiryform-error" class="d-none col-12">@Html.Raw(T.Value("MessageError"))</div>
    </div>
</div>