﻿@using Dina4.Web.src
@using Umbraco.Cms.Core.Cache
@*@using Umbraco.RelationEditor.Extensions*@
@using Language = Dina4.Web.src.Language
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = Model.StartPage();

    int i = 0;
    var footerlinks = home.FooterLinks;
    var footerBottomLinks = home.FooterBottomLinks;
    var email = home.EMail;
    var phone = home.Phone;
}

<footer >
    <div class="footer-inner">


        <div class="container">
            <div class="row">
                <div class="col-lg-3 footerlinks text-center text-lg-left d-lg-flex align-items-end">
                    <div>
                    @if (footerlinks != null) {
                        foreach (var footerlink in footerlinks) {
                            if (i++ > 0) {
                                @Html.Raw("<br>")
                            }
                            <a href="@footerlink.Url">@footerlink.Name</a>
                        }
                    }</div>
                </div>
                <div class="col-lg-4 col-xl-6 text-center mt-3 mt-lg-0">
                    <img data-src="/assets/img/logo-inverted.svg" title="SAXE SPORTS" alt="Logo SAXE SPORTS" />
                    <div class="social">
                        @if (!String.IsNullOrEmpty(home.FacebookLink)) {
                            <a href="@home.FacebookLink" target="_blank" rel="noopener"><i class="icon icon-fb"></i></a>
                        }
                        @if (!String.IsNullOrEmpty(home.InstagramLink)) {
                            <a href="@home.InstagramLink" target="_blank" rel="noopener"><i class="icon icon-ig"></i></a>
                        }
                    </div>
                </div>
                <div class="col-lg-5 col-xl-3 text-center text-lg-right  d-lg-flex align-items-end mt-md-3 mt-lg-0">
                    <div>
                    <a class="big" href="tel:@(phone.Replace(" ", ""))" data-gaq="Link|Phone|Footer">@phone</a><br />
                    <a class="big" href="mailto:@email" data-gaq="Link|Email|Footer">@email</a><br /><br />
                    @Html.Raw(home.Address)
                </div></div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <span class="strong">@T.Value("SAXE SPORTS G.M.B.H.")</span><br />
                    @{
                        i = 0;
                    }
                    @if (footerBottomLinks != null) {
                        foreach (var link in footerBottomLinks) {
                            <a href="@link.Url" target="@link.Target">@link.Name</a>
                                @Html.Raw("<span class='"+(i == 0 ? "d-md-inline-block" :"")+"'> | </span>")

                            i++;
                        }

                    }

                   <a href="javascript: return false;" onclick="return klaro.show(klaroConfig, true);" class="footerlink">Cookies</a>
                </div>
                <div class="col-lg-4 text-md-right mt-3 mt-md-0">
                @if (home.PartnerLogo != null) {
                    <img class="partnerimg" data-src="@home.PartnerLogo.Url()?width=200" title="@home.PartnerLogo.Name" alt="@home.PartnerLogo.Name"/>
                }
                </div>
            </div>
        </div>
    </div>
</footer>