﻿@using Dina4.Web.src
@using Microsoft.Extensions.Options
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Strings
@using Umbraco.Cms.Web.Common
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var startpage = Model.AncestorOrSelf(1);
    var header = new HeaderSlider(Model, new NoopPublishedValueFallback());
    var headerHeight = 100;

    var hideHeader = header.HideHeader;

    if (hideHeader) {
        headerHeight = 0;
    }

    var i = 1;
    var images = header.HeaderImages;
    if (images == null || !images.Any()) {
        images = startpage.Value<IEnumerable<MediaWithCrops>>("headerImages");
    }
    var imageList = images != null ? images as IList<MediaWithCrops> ?? images.ToList() : null;

    var small = Model.ContentType.Alias == ProductSubCategoryPage.ModelTypeAlias;

    if (!((imageList != null && imageList.Any()) || Model.ContentType.Alias == FrontPage.ModelTypeAlias)) {
        headerHeight = 0;
        hideHeader = true;
    }
    var title = header.Value<IHtmlEncodedString>("title");
    var text = header.Value<IHtmlEncodedString>("text");
    var icon = header.Value<MediaWithCrops>("headerTextIcon");
}

<header id="header" class="@(small ? "small" :"")" data-height="@headerHeight" style="@(headerHeight == 0 ? "height:0;" : "")">
    @if (Model.ContentType.Alias == FrontPage.ModelTypeAlias) {
        var vmodel = (FrontPage)Model;
        var slides = vmodel.Slides;
        if (slides != null && slides.Any()) {
            var firstImage = (((HeaderSlide)slides.FirstOrDefault()?.Content)!).Image;
            <img src="@(firstImage.IfNotNull(_ => _.GetCropUrl(width: 720, height: 360, quality: 45)))" style="display: none;" alt="Header Image"/>
            <div class="headerslider" style="position: relative;">
                @foreach (var slide in slides) {
                    var vslide = (HeaderSlide)slide.Content;
                    if (vslide.Image == null) {
                        continue;
                    }
                    <div class="header-image slick-slide bgimage" style="@(firstImage == vslide.Image ? "background-image: url('" + vslide.Image.GetCropUrl(width: 720, height: 360, quality: 45) + "'); display:block;" : "")" data-resp-img="@vslide.Image.GetCropUrl(width: 720, height: 360, quality: 45)" @(i > 2 ? "data-resp-img-manual=true" : "")>
                        @if (!String.IsNullOrEmpty(vslide.SlideText.ToHtmlString())) {
                            <div class="header-title" data-aos="fade-in">
                                <div class="container" data-aos="fade-in">
                                    <h1>@Html.Raw(vslide.SlideText.PrepareForHeading())</h1>
                                </div>
                            </div>
                        }
                    </div>
                    i++;
                }
            </div>
        } else {
            <div class="noHeaderImage"></div>
        }
        <style type="text/css">
            #header .slick-slide {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                -ms-background-size: cover;
                background-size: cover;
                -ms-background-repeat: no-repeat;
                background-repeat: no-repeat;
            }</style>
    } else {
        if (imageList != null && imageList.Any()) {

            <img src="@(imageList.First().IfNotNull(_ => _.GetCropUrl(width: 720, height: 360, quality: 45)))" style="display: none;" alt="Header Image" />
            <div class="headerslider" style="position: relative;">
                @foreach (var image in imageList) {
                    <div class="header-image nobg slick-slide bgimage" style="@(imageList.First() == image ? "background-image: url('" + image.GetCropUrl(width: 720, height: 360, quality: 45) + "'); display:block;" : "")" data-resp-img="@image.GetCropUrl(width: 720, height: 360, quality: 45)" @(i > 2 ? "data-resp-img-manual=true" : "")></div>
                    i++;
                }
                @if (!String.IsNullOrEmpty(title.ToHtmlString()) && small == false) {
                    <div class="header-title-cat" data-aos="fade-in">

                        <div class="container">
                            <div class="row align-items-end">
                                <div class="col-md-5">
                                    <div class="mb-md-5">
                                        @if (icon != null) {
                                            <img data-src="@icon.Url()?width=200" title="@icon.Name" alt="@icon.Name" />
                                        }
                                        <h1>@Html.Raw(title.PrepareForHeading())</h1>
                                        <div class="d-none d-lg-block header-text">@Html.Raw(text)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        } else {
            <div class="noHeaderImage"></div>
        }
        <style type="text/css">
            #header .slick-slide {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                -ms-background-size: cover;
                background-size: cover;
                -ms-background-repeat: no-repeat;
                background-repeat: no-repeat;
            }</style>
    }
    <script type="text/javascript">
        var h = window.innerHeight * @(headerHeight == 0 ? "0" : (((double)headerHeight / 100)).ToString().Replace(",", "."));
        @if (small) {
            //<text>h = h - 400;</text>
        }

    </script>
</header>
@if (!String.IsNullOrEmpty(text.ToHtmlString())) {
    @if (Model.ContentType.Alias == ProductCategoryPage.ModelTypeAlias || Model.ContentType.Alias == LandingPage.ModelTypeAlias) {
        <section class="d-lg-none headertext-mobile">
            <div class="container">
                @Html.Raw(text)
            </div>
        </section>
    }
}
@if (Model.ContentType.Alias == ProductCategoryPage.ModelTypeAlias || Model.ContentType.Alias == LandingPage.ModelTypeAlias) {
    BlockListModel infos = null;
    if (Model.ContentType.Alias == ProductCategoryPage.ModelTypeAlias) {
        var pcp = (ProductCategoryPage)Model;
        infos = pcp.Infos;
    }
    if (Model.ContentType.Alias == LandingPage.ModelTypeAlias) {
        var pcp = (LandingPage)Model;
        infos = pcp.Infos;
    }
    @*var infos = pcp.Infos;*@
    if (infos != null && infos.Any()) {
        <section class="info-block white" id="info-header-block">
            <div class="container">
                <div class="row">
                    @{
                        await Html.RenderPartialAsync("~/Views/blocklist/infos.cshtml", infos);
                    }
                </div>
            </div>
            <script type="text/javascript">
                                                if ((window.innerHeight > 1100 && window.innerWidth > 1620) || (window.innerHeight > 1100 && window.innerWidth < 1620)) {
                    h = window.innerHeight * @(headerHeight == 0 ? "0" : (((double)headerHeight / 100)).ToString().Replace(",", ".")) - document.getElementById("info-header-block").clientHeight;

                }
            </script>
        </section>
    }
}
<script type="text/javascript">
    var headernull = @(headerHeight == 0 ? "true" : "false");
    var body = document.body;
    if (headernull == false) {
        if (window.innerWidth < 768) {
            var h = window.innerHeight * 0.5;
        }
        document.getElementById("header").style.height = h + "px";
    }
</script>