﻿@*<svg id="logo" data-name="Group 23" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="380.388" height="106.743" viewBox="0 0 380.388 106.743">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_23" data-name="Rectangle 23" width="380.388" height="106.743" fill="none"/>
    </clipPath>
  </defs>
  <g id="Group_22" data-name="Group 22" clip-path="url(#clip-path)">
    <path id="Path_32" data-name="Path 32" class="c1" d="M68.055,22.79v-.47c0-4.111-3.682-7.518-8.126-7.518H23.87c-4.444,0-8.126,3.407-8.126,7.518v.47c0,4.112,3.682,7.519,8.126,7.519h32a28.931,28.931,0,0,1,20.7,8.458c.381.352.635.7,1.016,1.057A24.862,24.862,0,0,1,83.926,56.27c0,14.332-12.57,25.962-28.06,25.962H28.06C12.57,82.232,0,70.6,0,56.27H15.871c0,6.226,5.46,11.278,12.189,11.278H55.866c6.729,0,12.316-5.052,12.316-11.278S62.595,44.993,55.866,44.993h-32A24.769,24.769,0,0,1,7.238,38.767,20.979,20.979,0,0,1,4.19,35.242,20.711,20.711,0,0,1,0,22.673V22.2C0,9.986,10.665,0,23.87,0H59.929c13.2,0,24,9.986,24,22.2v.47Z" fill="#161615"/>
    <path id="Path_33" data-name="Path 33" class="c1" d="M232.964,82.232H215.189l-8.126-14.684L187.637,32.306,168.211,67.548l-8.126,14.684H142.31l8.126-14.684L187.637,0l37.2,67.548Z" transform="translate(-51.403 0)" fill="#161615"/>
    <path id="Path_34" data-name="Path 34" d="M301.114,82.417h.254l-.254.235ZM390.246.185,355.837,41.418l34.281,41H370.057L345.807,53.4,321.556,82.417H301.5l34.154-41L301.241.185H321.3L345.68,29.436,370.057.185h20.189Zm-.254,82.467-.127-.235h.127Z" transform="translate(-108.764 -0.067)" fill="#CA433F"/>
    <path id="Path_35" data-name="Path 35" class="c1" d="M472.286,22.2v7.636h57.135V44.524H472.286V60.03c0,4.112,3.682,7.519,8.126,7.519h64.88V82.233h-64.88c-13.2,0-23.871-9.986-23.871-22.2V22.2c0-12.217,10.666-22.2,23.871-22.2h64.88V14.686h-64.88c-4.444,0-8.126,3.407-8.126,7.518" transform="translate(-164.905 0)" fill="#161615"/>
    <path id="Path_36" data-name="Path 36" d="M19.046,143.119v7.649c0,4.217-3.708,7.648-8.266,7.648s-8.266-3.431-8.266-7.648v-7.649H5.466v7.649a5.135,5.135,0,0,0,5.314,4.917,5.134,5.134,0,0,0,5.314-4.917v-7.649Z" transform="translate(-0.908 -51.695)" fill="#CA433F"/>
    <path id="Path_37" data-name="Path 37" d="M56.019,143.141v15.3l-2.953-2.1-10.628-7.583v9.681H39.487V143.185l2.952,2.1,10.628,7.584V143.12Z" transform="translate(-14.263 -51.695)" fill="#CA433F"/>
    <rect id="Rectangle_21" data-name="Rectangle 21" width="2.953" height="15.297" transform="translate(48.842 91.424)" fill="#CA433F"/>
    <path id="Path_38" data-name="Path 38" d="M108.68,150.768a7.293,7.293,0,0,1-1.937,4.917h1.937v2.732h-8.242c-4.558,0-8.266-3.432-8.266-7.649s3.708-7.649,8.266-7.649,8.266,3.431,8.266,7.649Zm-2.952,0a5.33,5.33,0,1,0-5.314,4.917h.141a5.124,5.124,0,0,0,5.172-4.917" transform="translate(-33.293 -51.695)" fill="#CA433F"/>
    <path id="Path_39" data-name="Path 39" d="M145.677,143.119v7.649c0,4.217-3.708,7.648-8.266,7.648s-8.266-3.431-8.266-7.648v-7.649H132.1v7.649a5.33,5.33,0,0,0,10.628,0v-7.649Z" transform="translate(-46.648 -51.695)" fill="#CA433F"/>
    <path id="Path_40" data-name="Path 40" d="M169.083,147.249v1.421h10.628V151.4H169.083v2.885a1.468,1.468,0,0,0,1.511,1.4h12.069v2.731H170.595a4.3,4.3,0,0,1-4.44-4.13v-7.037a4.3,4.3,0,0,1,4.44-4.13h12.069v2.732H170.595a1.468,1.468,0,0,0-1.511,1.4" transform="translate(-60.016 -51.695)" fill="#CA433F"/>
    <path id="Path_41" data-name="Path 41" d="M245.353,155.117l-1.062,3.3-2.173-2.8-3.283-4.174-3.259,4.174L233.4,158.4l-1.062-3.278-3.85-12h3.07l2.976,9.222,2.5-3.212.472-.612,1.347-1.7,1.346,1.7.473.612,2.5,3.212,2.975-9.222h3.071Z" transform="translate(-82.532 -51.695)" fill="#CA433F"/>
    <rect id="Rectangle_22" data-name="Rectangle 22" width="2.953" height="15.297" transform="translate(173.781 91.424)" fill="#CA433F"/>
    <path id="Path_42" data-name="Path 42" d="M304.29,143.141v15.3l-2.953-2.1-10.628-7.583v9.681h-2.952V143.185l2.952,2.1,10.628,7.584V143.12Z" transform="translate(-103.939 -51.695)" fill="#CA433F"/>
    <path id="Path_43" data-name="Path 43" d="M341.239,143.154v2.731h-6.778v12.566h-2.953V145.885H324.73v-2.731Z" transform="translate(-117.294 -51.708)" fill="#CA433F"/>
    <path id="Path_44" data-name="Path 44" d="M364.667,147.249v1.421H375.3V151.4H364.667v2.885a1.468,1.468,0,0,0,1.511,1.4h12.069v2.731H366.179a4.3,4.3,0,0,1-4.44-4.13v-7.037a4.3,4.3,0,0,1,4.44-4.13h12.069v2.732H366.179a1.468,1.468,0,0,0-1.511,1.4" transform="translate(-130.662 -51.695)" fill="#CA433F"/>
    <path id="Path_45" data-name="Path 45" d="M412.005,155.72l1.511,2.731h-3.307L408.7,155.72l-1.582-2.863-.072-.131a2.981,2.981,0,0,0-2.5-1.311H401.59v7.037h-2.953v-15.3h10.439a4.612,4.612,0,0,1,3.141,1.2,4.031,4.031,0,0,1,1.3,2.928,4.3,4.3,0,0,1-3.873,4.086Zm-2.929-7.037a1.468,1.468,0,0,0,.614-.131,1.347,1.347,0,0,0,.449-2.273,1.549,1.549,0,0,0-1.063-.394H401.59V148.7Z" transform="translate(-143.989 -51.708)" fill="#CA433F"/>
    <path id="Path_46" data-name="Path 46" d="M475.323,155.117l-1.063,3.3-2.173-2.8-3.283-4.174-3.259,4.174-2.173,2.776-1.063-3.278-3.849-12h3.07l2.975,9.222,2.5-3.212.473-.612,1.346-1.7,1.346,1.7.473.612,2.5,3.212,2.976-9.222H479.2Z" transform="translate(-165.598 -51.695)" fill="#CA433F"/>
    <path id="Path_47" data-name="Path 47" d="M503.353,147.249v1.421h10.628V151.4H503.353v2.885a1.468,1.468,0,0,0,1.511,1.4h12.069v2.731H504.865a4.3,4.3,0,0,1-4.44-4.13v-7.037a4.3,4.3,0,0,1,4.44-4.13h12.069v2.732H504.865a1.468,1.468,0,0,0-1.511,1.4" transform="translate(-180.756 -51.695)" fill="#CA433F"/>
    <path id="Path_48" data-name="Path 48" d="M552.781,158.417h-3.306l-1.511-2.732-3.614-6.556-3.614,6.556-1.511,2.732h-3.306l1.511-2.732,6.92-12.566,6.92,12.566Z" transform="translate(-193.576 -51.695)" fill="#CA433F"/>
    <path id="Path_49" data-name="Path 49" d="M585.26,155.72l1.511,2.731h-3.307l-1.511-2.731-1.582-2.863-.072-.131a2.982,2.982,0,0,0-2.5-1.311h-2.952v7.037h-2.953v-15.3h10.439a4.612,4.612,0,0,1,3.141,1.2,4.031,4.031,0,0,1,1.3,2.928,4.3,4.3,0,0,1-3.873,4.086Zm-2.929-7.037a1.468,1.468,0,0,0,.614-.131,1.347,1.347,0,0,0,.449-2.273,1.549,1.549,0,0,0-1.063-.394h-7.487V148.7Z" transform="translate(-206.57 -51.708)" fill="#CA433F"/>
  </g>
</svg>*@


<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204.448 57.372">
  <g id="Group_22" data-name="Group 26661" transform="translate(-1612.528 -58.628)">
    <path id="Path_32" data-name="Path 32" class="c1" fill="#161615" d="M36.578,12.249V12A4.243,4.243,0,0,0,32.21,7.956H12.829A4.243,4.243,0,0,0,8.462,12v.253a4.243,4.243,0,0,0,4.368,4.041h17.2A15.55,15.55,0,0,1,41.15,20.836c.2.189.341.378.546.568a13.363,13.363,0,0,1,3.412,8.84c0,7.7-6.756,13.954-15.081,13.954H15.081C6.756,44.2,0,37.947,0,30.244H8.53a6.322,6.322,0,0,0,6.551,6.062H30.026c3.617,0,6.62-2.715,6.62-6.062s-3-6.061-6.62-6.061h-17.2A13.312,13.312,0,0,1,3.89,20.836a11.276,11.276,0,0,1-1.638-1.895A11.131,11.131,0,0,1,0,12.186v-.252C0,5.367,5.732,0,12.829,0H32.21c7.1,0,12.9,5.367,12.9,11.934v.252Z" transform="translate(1612.528 58.628)" fill="#fff"/>
    <path id="Path_33" data-name="Path 33" class="c1" fill="#161615" d="M191.034,44.2H181.48l-4.368-7.892L166.672,17.364,156.231,36.306,151.863,44.2H142.31l4.368-7.892L166.672,0l19.994,36.3Z" transform="translate(1519.078 58.628)" fill="#fff"/>
    <path id="Path_34" data-name="Path 34" d="M301.114,44.382h.137l-.137.126ZM349.02.185,330.526,22.347l18.425,22.036H338.169l-13.034-15.6L312.1,44.382H301.319l18.357-22.036L301.182.185h10.782l13.1,15.722L338.169.185H349.02Zm-.137,44.324-.068-.126h.068Z" transform="translate(1414.797 58.507)" fill="#ca433f"/>
    <path id="Path_35" data-name="Path 35" class="c1" fill="#161615" d="M465,11.934v4.1h30.709v7.893H465v8.334a4.243,4.243,0,0,0,4.368,4.041h34.871V44.2H469.372c-7.1,0-12.83-5.367-12.83-11.933V11.934C456.542,5.368,462.275,0,469.372,0h34.871V7.894H469.372A4.243,4.243,0,0,0,465,11.934" transform="translate(1312.733 58.628)" fill="#fff"/>
    <path id="Path_36" data-name="Path 36" d="M11.4,143.119v4.111a4.291,4.291,0,0,1-4.443,4.111,4.291,4.291,0,0,1-4.443-4.111v-4.111H4.1v4.111a2.76,2.76,0,0,0,2.856,2.643,2.759,2.759,0,0,0,2.856-2.643v-4.111Z" transform="translate(1610.877 -35.353)" fill="#ca433f"/>
    <path id="Path_37" data-name="Path 37" d="M48.372,143.131v8.222l-1.587-1.128-5.712-4.076v5.2H39.487v-8.2l1.587,1.128,5.712,4.076V143.12Z" transform="translate(1586.598 -35.353)" fill="#ca433f"/>
    <rect id="Rectangle_21" data-name="Rectangle 21" width="1.587" height="8.222" transform="translate(1638.779 107.766)" fill="#ca433f"/>
    <path id="Path_38" data-name="Path 38" d="M101.045,147.23A3.92,3.92,0,0,1,100,149.873h1.041v1.468h-4.43a4.123,4.123,0,1,1,4.443-4.111Zm-1.587,0a2.865,2.865,0,1,0-2.856,2.643h.076a2.754,2.754,0,0,0,2.78-2.643" transform="translate(1552.002 -35.353)" fill="#ca433f"/>
    <path id="Path_39" data-name="Path 39" d="M138.031,143.119v4.111a4.456,4.456,0,0,1-8.886,0v-4.111h1.587v4.111a2.865,2.865,0,0,0,5.712,0v-4.111Z" transform="translate(1527.723 -35.353)" fill="#ca433f"/>
    <path id="Path_40" data-name="Path 40" d="M167.729,145.339v.764h5.712v1.468h-5.712v1.55a.789.789,0,0,0,.812.752h6.487v1.468h-6.487a2.309,2.309,0,0,1-2.386-2.22v-3.782a2.309,2.309,0,0,1,2.386-2.22h6.487v1.468h-6.487a.789.789,0,0,0-.812.752" transform="translate(1503.42 -35.353)" fill="#ca433f"/>
    <path id="Path_41" data-name="Path 41" d="M237.553,149.568l-.571,1.774-1.168-1.5-1.764-2.243-1.752,2.243-1.168,1.492-.571-1.762-2.069-6.448h1.65l1.6,4.956,1.346-1.726.254-.329.724-.916.723.916.254.329,1.346,1.726,1.6-4.956h1.65Z" transform="translate(1462.486 -35.353)" fill="#ca433f"/>
    <rect id="Rectangle_22" data-name="Rectangle 22" width="1.587" height="8.222" transform="translate(1705.93 107.766)" fill="#ca433f"/>
    <path id="Path_42" data-name="Path 42" d="M296.643,143.131v8.222l-1.587-1.128-5.712-4.076v5.2h-1.587v-8.2l1.587,1.128,5.712,4.076V143.12Z" transform="translate(1423.568 -35.353)" fill="#ca433f"/>
    <path id="Path_43" data-name="Path 43" d="M333.6,143.154v1.468H329.96v6.754h-1.587v-6.754H324.73v-1.468Z" transform="translate(1399.289 -35.376)" fill="#ca433f"/>
    <path id="Path_44" data-name="Path 44" d="M363.313,145.339v.764h5.712v1.468h-5.712v1.55a.789.789,0,0,0,.812.752h6.487v1.468h-6.487a2.309,2.309,0,0,1-2.386-2.22v-3.782a2.309,2.309,0,0,1,2.386-2.22h6.487v1.468h-6.487a.789.789,0,0,0-.812.752" transform="translate(1374.987 -35.353)" fill="#ca433f"/>
    <path id="Path_45" data-name="Path 45" d="M405.822,149.908l.812,1.468h-1.777l-.812-1.468-.85-1.539-.038-.07a1.6,1.6,0,0,0-1.346-.7h-1.587v3.782h-1.587v-8.222h5.611a2.479,2.479,0,0,1,1.688.646,2.167,2.167,0,0,1,.7,1.574,2.311,2.311,0,0,1-2.082,2.2Zm-1.574-3.782a.789.789,0,0,0,.33-.07.724.724,0,0,0,.241-1.222.833.833,0,0,0-.571-.212h-4.024v1.515Z" transform="translate(1350.757 -35.376)" fill="#ca433f"/>
    <path id="Path_46" data-name="Path 46" d="M467.524,149.568l-.571,1.774-1.168-1.5-1.764-2.243-1.752,2.243L461.1,151.33l-.571-1.762-2.069-6.448h1.65l1.6,4.956,1.346-1.726.254-.329.723-.916.723.916.254.329,1.346,1.726,1.6-4.956h1.65Z" transform="translate(1311.473 -35.353)" fill="#ca433f"/>
    <path id="Path_47" data-name="Path 47" d="M502,145.339v.764h5.712v1.468H502v1.55a.789.789,0,0,0,.812.752H509.3v1.468h-6.487a2.309,2.309,0,0,1-2.386-2.22v-3.782a2.309,2.309,0,0,1,2.386-2.22H509.3v1.468h-6.487a.789.789,0,0,0-.812.752" transform="translate(1283.917 -35.353)" fill="#ca433f"/>
    <path id="Path_48" data-name="Path 48" d="M544.982,151.342H543.2l-.812-1.468-1.942-3.524-1.942,3.524-.812,1.468h-1.777l.812-1.468,3.719-6.754,3.719,6.754Z" transform="translate(1260.609 -35.353)" fill="#ca433f"/>
    <path id="Path_49" data-name="Path 49" d="M579.077,149.908l.812,1.468h-1.777l-.812-1.468-.85-1.539-.038-.07a1.6,1.6,0,0,0-1.346-.7h-1.587v3.782h-1.587v-8.222H577.5a2.479,2.479,0,0,1,1.688.646,2.167,2.167,0,0,1,.7,1.574,2.311,2.311,0,0,1-2.082,2.2Zm-1.574-3.782a.789.789,0,0,0,.33-.07.724.724,0,0,0,.241-1.222.833.833,0,0,0-.571-.212h-4.024v1.515Z" transform="translate(1236.987 -35.376)" fill="#ca433f"/>
  </g>
</svg>

