﻿@using Dina4.Web.src
@using DiNa4.Web.Helpers
@using System.Globalization
@using Dina4.Web.Helpers
@using Umbraco.Cms.Core.Cache
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = Model.StartPage(); // WebsiteHelpers.StartPage();
    var naviTop = home.Children.Where(x => x.IsVisible() && x.Value<bool>("showInTopNav") && x.ContentType.Alias == ProductCategoryPage.ModelTypeAlias).ToList();
    var naviBottom = home.Children.Where(x => x.IsVisible() && x.Value<bool>("showInTopNav") && x.ContentType.Alias != ProductCategoryPage.ModelTypeAlias).ToList();
}
<nav id="navi" class="navbar navbar-expand-lg navbar-light " pricenavheight>
    <a class="navbar-brand" href="@home.Url()" title="SAXE SPORTS">
        @{
            await Html.RenderPartialAsync("~/Views/Partials/_Logo.cshtml");
        }
        @*<img src="/assets/img/logo.svg" title="logo" />*@
    </a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
        <span class="text">MENU</span>
    </button>
    <div class="container d-none d-lg-inline-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @foreach (var item in naviTop) {
                    var children = item.Children.Where(_ => _.IsVisible()).ToList();
                    var menutitle = item.Value<string>("menuTitle");
                    var menusubtitle = item.Value<string>("menuSubTitle");
                    var name = String.IsNullOrEmpty(menutitle) ? item.Name : menutitle;
                    var isactive = Model.Url().Contains(item.Url());
                    @* if (children.Any()) {
                        <li class="nav-item haschilds @Html.If(isactive, "active")">
                        <a class="nav-link" href="@item.Url()">@name</a>
                        @{
                        SubMenu(item);
                        }
                        </li>
                        } else {*@
                    <li class="nav-item @Html.If(isactive, "active")"><a class="nav-link" href="@item.Url()">@name</a></li>
                    @* }*@
                }
            </ul>
        </div>
    </div>
    <div id="nav-overlay">

        <div class="outer">
            <div class="left">
                <div class="inner">
                    <button class="navbar-toggler navbar-toggler-right collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                        <span class="text">CLOSE</span>
                    </button>
                    <ul>
                        @foreach (var item in naviTop) {
                            var children = item.Children.Where(_ => _.IsVisible()).ToList();
                            var menutitle = item.Value<string>("menuTitle");
                            var name = String.IsNullOrEmpty(menutitle) ? item.Name : menutitle;
                            var isactive = Model.Url().Contains(item.Url());

                            if (children.Any()) {
                                <li class="nav-item-overlay  haschilds @Html.If(isactive, "active") @Html.If(!isactive, "todoubletap")">
                                    <a class="nav-link doubletap" href="@item.Url()">@name</a>
                                    <div class="nav-item-sub">
                                        @foreach (var x in children) {
                                            var menuTitle = x.Value<string>("menuTitle");
                                            <div><a href="@x.Url()" class="pre-navbar-links">@(String.IsNullOrEmpty(menuTitle) ? x.Name : menuTitle)</a></div>
                                        }
                                    </div>
                                    @*  @{
                                    SubMenu(item);
                                    }*@
                                </li>
                            } else {
                                <li class="nav-item-overlay @Html.If(isactive, "active")">
                                    <a class="nav-link doubletap" href="@item.Url()">@name</a>
                                </li>
                            }
                        }
                    </ul>
                  
                    <ul class="subnav mt-4">
                        @foreach (var item in naviBottom) {
                            var childs = item.Children.Where(_ => _.IsVisible());
                            <li class="nav-link-subnav  @Html.If(childs.Any(),"hassubnav") todoubletap">
                                <a href="@item.Url()" class="doubletap">@item.Name</a>
                                <div class="nav-link-subnav-sub">
                                    @foreach (var x in childs) {
                                        <div>
                                            <a href="@x.Url()">@x.Name</a>
                                        </div>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="social">
                    @*<a href="#" target="_blank" rel="nofollow noopener"><i class="icon icon-search"></i></a>*@
                    @if (!String.IsNullOrEmpty(home.FacebookLink)) {
                        <a href="@home.FacebookLink" target="_blank" rel="nofollow noopener"><i class="icon icon-fb"></i></a>
                    }
                    @if (!String.IsNullOrEmpty(home.InstagramLink)) {
                        <a href="@home.InstagramLink" target="_blank" rel="nofollow noopener"><i class="icon icon-ig"></i></a>
                    }
                </div>
                <div class="info">
                    <a href="tel:@home.Phone.IfNotNull(_ => _.Replace(" ",""))">@home.Phone</a><br />
                    <a href="mailto:@home.EMail">@home.EMail</a><br /><br />
                    <div>
                        @Html.Raw(home.Address)
                    </div>
                </div>
        
                <div class="languages">
                    @{
                        var languages = Model.GetCurrentLanguageList(CultureInfo.CurrentCulture.Name, appCaches);
                        var selected = languages.FirstOrDefault(x => x.Current);
                        string currentName = selected != null ? selected.Name : CultureInfo.CurrentCulture.Name;
                        if (languages != null) {
                            foreach (var item in languages) {
                                //ToDo delete when en is ready
                                if (item.Name == "EN") {
                                    continue;
                                }
                                <a href="@item.Url" class="@Html.If(item.Current, "active")">@item.Name</a>
                                @(item != languages.Last() ? "|" :"")
                            }
                        }
                    }
                </div>
            </div>
            <div class="right">
                <div class="bgimage" data-resp-img="@home.NaviBackgroundImage.IfNotNull(_ => _.GetCropUrl(200,200))" data-resp-img-autosize="true"></div>
            </div>
        </div>
        
        
    </div>
</nav>