﻿@using Dina4.Web.src
@using DiNa4.Web.Helpers
@using Microsoft.AspNetCore.Http
@using DiNa4.Web.Extensions
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Options
@using Org.BouncyCastle.Asn1.Ocsp

@*@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<List<Productpage>>*@
@model List<IPublishedContent>
@{
    if (ViewBag.LanguageId != null) {
        Global.SetCulture((int)ViewBag.LanguageId);
    }
    var pagesize = 12;
    var pageString = Context.Request.Query["page"].ToString();
    var noredirect = ViewBag.NoRedirect == true;
    var pages = Math.Ceiling((Model.Count / (decimal)pagesize));
    int.TryParse(pageString, out int page);
    if (page == 0 && ViewBag.Page != null) {
        int.TryParse(ViewBag.Page.ToString(), out page);
    }
    var url = Context.Request.Path;
    if (ViewBag.CurrentPageUrl != null) {
        url = ViewBag.CurrentPageUrl.ToString();
    }


    if (page > 1 && pages < page) {
        @if (noredirect != true) {
            Context.Response.Redirect(url);
        } else {
            page = 1;
        }
    }
}


@foreach (var x in Model.Skip((page <= 0 ? 0 : page - 1) * pagesize).Take(pagesize)) {
    var pp = (ProductPage)x;
    var preview = pp.PreviewImage ?? pp.Images.IfNotNull(_ => _.FirstOrDefault());
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="product-item" data-click="@pp.Url(culture:Global.GetCulture())">
            <div class="bgimage bgimagecontain" data-resp-img="@preview?.GetCropUrl(200)" data-resp-img-bg="#ffffff">
            </div>
            <div class="text-center">
                <div class="title">@x.Value("title",Global.GetCulture())</div>
                <a href="@pp.Url(culture:Global.GetCulture())" class="link">@T.Value("mehr erfahren")</a>
            </div>
        </div>
    </div>
}
@if (pages > 1) {
    <div class="col-12">
        <ul class="paging">
            @if (page > 1) {
                <li class="page"><a href="@url?page=@(page - 1)" class="js-page prev" data-page="@(page - 1)"></a></li>
            }
            @for (int i = 0; i < pages; i++) {
                <li class="page @Html.If(page == (i + 1) || page == 0 && i == 0, "current")"><a href="@url?page=@(i + 1)" class="js-page" data-page="@(i + 1)">@(i + 1)</a></li>
            }

            @if (page < pages && pages > 1) {
                <li class="page"><a href="@url?page=@(page + 1)" class="js-page next" data-page="@(page + 1)"></a></li>
            }
        </ul>
    </div>
}