﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (ConfigurationBlock)Model.Content;
    if (content.Hide) {
        return;
    }
}
<section class="configuration-block liststyle">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6" data-aos="fade-in" data-aos-delay="200">
                <div class="conf conf-1" data-cursor="clickable">
                    <h2>@Html.Raw(WebsiteHelpers.ParseTextareaToHtml(content.LeftSideTitle))</h2>
                    <div class="text">
                        @Html.Raw(content.LeftSideText)
                        @if (content.LeftSideLink != null) {
                            <div class="mt-4 button">
                                <a href="@content.LeftSideLink.Url" class="btn btn-primary" target="@content.LeftSideLink.Url" data-gaq="click|configurationblock|@(content.LeftSideTitle?.Replace("<br>","").Replace("\n", "").Replace(" ","-").ToLower())">@content.LeftSideLink.Name</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-in" data-aos-delay="400">
                <div class="conf conf-2" data-cursor="clickable">
                    <h2>@Html.Raw(WebsiteHelpers.ParseTextareaToHtml(content.RightSideTitle))</h2>
                    <div class="text">
                        @Html.Raw(content.RightSideText)
                        @if (content.RightSideLink != null) {
                            <div class="mt-4 button">
                                <a href="@content.RightSideLink.Url" class="btn btn-primary" target="@content.RightSideLink.Url" data-gaq="click|configurationblock|@(content.RightSideTitle?.Replace("<br>","").Replace("\n", "").Replace(" ","-").ToLower())">@content.RightSideLink.Name</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
            @if (content.ImageMiddle != null) {
                <div class="imagemiddle-cont" >
                    <div class="imagemiddle  bgimagecontain" data-aos="fade-in" data-aos-delay="100" style="background-image:url(@content.ImageMiddle.Url()?width=760)" data-resp-img-nobg="true"></div>
                </div>
            }
        </div>
    </div>
</section>