﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListModel>
@{
    var i = 1;
}
@foreach (var x in Model) {
    var info = (Info)x.Content; //  new Info(x.Content, new NoopPublishedValueFallback());
    <div class="col-sm-6 col-xl-3">
        <div class="info-teaser" data-aos="fade-in" data-aos-delay="@(i * 50)">
            @if (info.Icon != null) {
                <div class="icon bgimage" data-resp-img="@info.Icon.Content.Url()?width=200&height=200" data-resp-img-nobg="true"></div>
            }
            <div class="info-title">@info.Title</div>
            <div class="info-text mt-xl-2">@Html.Raw(info.Text)</div>
        </div>
    </div>
    i++;
}
