﻿@using NUglify.Html
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (InfoBlock)Model.Content;
}
<section class="info-block">
    <div class="container" >
        <div class="row">
            @if (!String.IsNullOrEmpty(content.Title.ToHtmlString())) {
                <div class="offset-lg-1 col-lg-10 mb-4">
                    <div class="h2 text-center" data-aos="fade-in">@Html.Raw(content.Title)</div>
                </div>
            }
            @{
                await Html.RenderPartialAsync("~/Views/blocklist/infos.cshtml", content.Items);
            }

        </div>
    </div>
</section>
