﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (NewsletterBlock)Model.Content;
}
<section class="newsletter-block">
    <div class="container" data-aos="fade-in">
        <div class="row">
            <div class="col-md-6">
                <h2>Newsletter</h2>
                <div>
                    @T.Value("Iscriviti alla nostra newsletter per rimanere sempre aggiornato")
                </div>

            </div>
            <div class="col-md-5">
                <form method="post" id="newsletterform" class="enquiryform">
                    <div class="">
                        <div class="controls">
                            <input type="email" id="email" class="floatlabel" name="email" required="" data-required="@T.Value("ErrorMessageRequired")" data-email="@T.Value("ErrorMessageE-Mail")">
                            <label for="email">@T.Value("E-Mail")</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input id="privacy" name="privacy" data-setbool value="false" type="checkbox" required="" data-required="@T.Value("Privacy_Validation")" />
                                @{
                                    var privacyLink = "https://api.dina4.it/gdpr/api/text/" + _appSettings.Value.GDPR_ID + "?languageid=" + (int)Global.GetLanguage();
                                    var linkTag = string.Format("<a data-fancybox data-type=\"ajax\" data-src=\"{1}\" href =\"javascript:;\" target =\"_blank\" >{0}</a>", T.Value("Datenschutzbestimmungen"), privacyLink);
                                    @Html.Raw(string.Format(T.Value("Privacy_Consent"), linkTag))
                                }
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls text-right">
                            <button type="submit" class="btn btn-primary">@T.Value("Anmelden")</button>
                        </div>
                    </div>
                </form>
                <div id="newsletterform-success" class="d-none col-12">
                    @Html.Raw(T.Value("Newsletteranmeldung erfolgreich"))<br />
                </div>
                <div id="newsletterform-error" class="d-none col-12">@Html.Raw(T.Value("Newsletteranmeldung nicht erfolgreich"))</div>
            </div>
        </div>
    </div>
</section>
