﻿@using Azure.Core
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (ProductsBlock)Model.Content;
    var currentPage = Umbraco.AssignedContentItem;
    var startpage = currentPage.StartPage();

    var untercategories = startpage.Descendants().Where(_ => _.ContentType.Alias == ProductSubCategoryPage.ModelTypeAlias && _.IsVisible());
    var categories = new List<int>() { currentPage.AncestorOrSelf(ProductSubCategoryPage.ModelTypeAlias).Id };
    var querystring = Context.Request.Query.ContainsKey("categories") ? Context.Request.Query["categories"].ToArray() : null;
    if (querystring != null && querystring.Any()) {
        foreach (var q in querystring) {
            if (int.TryParse(q, out int catid)) {
                categories.Add(catid);
            }
        }
    }
    var genders = new List<string>();
    var gendersq = Context.Request.Query.ContainsKey("genders") ? Context.Request.Query["genders"].ToArray() : null;
    if (gendersq != null && gendersq.Any()) {
        foreach (var q in gendersq) {
            genders.Add(q);
        }
    }
    //var categories = currentPage.AncestorOrSelf(Cate)
    var products = WebsiteHelpers.GetProducts(startpage, new List<string>() { }, categories);

}

<section class="products-block">
    <div class="container" data-aos="fade-in">
        <div class="row">
            <div class="col-12">
                <div class="filter">
                    <div class="title">@(currentPage.AncestorOrSelf(ProductCategoryPage.ModelTypeAlias)?.Name) <span style="white-space: nowrap"><i class="js-count">@products.Count</i> @T.Value("Modelle")</span></div>

                    <div class="info">
                        <b>@T.Value("100% individualisierbar")</b>
                    </div>
                    <div class="filter-selection">
                        <form action="" id="products-filter" data-categories="@(currentPage.AncestorOrSelf(ProductSubCategoryPage.ModelTypeAlias).Id)">
                            <input type="hidden" name="languageId" value="@((int)Global.GetLanguage())" />
                            <input type="hidden" name="startpageId" value="@(currentPage.StartPage().Id)" />
                            <input type="hidden" name="page" value="" />
                            <input type="hidden" name="currentPageId" value="@(currentPage.Id)" />
                            @* <select name="genders" class="form-control d-inline-block" style="width: auto" data-default="Unisex">
                            <option value="Unisex">@T.Value("Unisex")</option>
                            <option value="Herren">@T.Value("Herren")</option>
                            <option value="Damen">@T.Value("Damen")</option>
                            <option value="Junior">@T.Value("Junior")</option>
                            </select>*@

                            <select id="multiselect2" multiple="multiple" name="genders" data-serializearray data-placeholder="@T.Value("Geschlecht")" data-nselectedtext="@T.Value("ausgewählt")" data-allselectedtext="@T.Value("Alle")">
                                <!option value="Unisex" @Html.Raw(genders.Contains("Unisex") ? "selected=selected" : "")>@T.Value("Unisex")</!option>
                                <!option value="Herren" @Html.Raw(genders.Contains("Herren") ? "selected=selected" : "")>@T.Value("Herren")</!option>
                                <!option value="Damen" @Html.Raw(genders.Contains("Damen") ? "selected=selected" : "")>@T.Value("Damen")</!option>
                                <!option value="Junior" @Html.Raw(genders.Contains("Junior") ? "selected=selected" : "")>@T.Value("Junior")</!option>
                            </select>
                            @*<div class="btn-group">*@
                            <select id="multiselect1" multiple="multiple" name="categories" data-serializearray data-placeholder="@T.Value("Kategorie")" data-nselectedtext="@T.Value("ausgewählt")" data-allselectedtext="@T.Value("Alle Kategorien")">
                                @foreach (var x in untercategories) {
                                    <!option value="@x.Id" @Html.Raw(categories.Contains(x.Id) ? "selected=selected" : "")>@x.Name</!option>
                                }
                            </select>
                            <div class="d-inline-block reset js-reset-filter cursor-pointer"><i class="icon icon-reload"></i>@T.Value("Filter resetieren")</div>

                            @*<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                            </button>
                            <div class="multiselect dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            </div>*@

                            @*</div>*@
                            @*
                            <select name="categories" class="form-control d-inline-block" style="width: auto" data-default="@categories.FirstOrDefault()">
                            <option>-- Kategorie</option>
                            @foreach (var x in untercategories) {
                            <!option value="@x.Id" @Html.Raw(categories.Contains(x.Id) ? "selected=selected" : "")>@x.Name</!option>
                            }
                            </select>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="products-result">
            @{
                await Html.RenderPartialAsync("~/Views/Partials/_Products.cshtml", products);
            }
            @*@foreach (var x in currentPage.Children.Where(_ => _.ContentType.Alias == ProductPage.ModelTypeAlias)) {
            var pp = (ProductPage) x;
            var preview = pp.PreviewImage ?? pp.Images.IfNotNull(_ => _.FirstOrDefault());
            <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="product-item" data-click="@pp.Url()">
            <div class="bgimage" data-resp-img="@preview.GetCropUrl(200, 200)">
            </div>
            <div class="text-center">
            <div class="title">@pp.Title</div>
            <a href="@pp.Url()" class="link">@T.Value("mehr erfahren")</a>
            </div>
            </div>
            </div>
            }
            </div>*@
        </div>
    </div>
</section>
