﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (ProductSubcategoriesBlock)Model.Content;
    if (content.Hide) {
        return;
    }

    if (Umbraco.AssignedContentItem.ContentType.Alias != ProductCategoryPage.ModelTypeAlias && (content.Items == null || content.Items.Any() == false)) {
        return;
    }



    var current = Umbraco.AssignedContentItem;

    var itemsForIteration = content.Items != null && content.Items.Any() ? content.Items : current.Children.Where(_ => _.IsVisible()).ToList();

}
<section class="productsubcategories-block" data-aos="fade-in">
    @if (!String.IsNullOrEmpty(content.Title) || !String.IsNullOrEmpty(content.Text.ToHtmlString())) {
        <div class="container mb-3">
            <div class="row">
                <div class="offset-md-1 col-md-10 content-text">
                    @if (!String.IsNullOrEmpty(content.Title)) {
                        <h2 class="text-center">@content.Title</h2>
                    }
                    @Html.Raw(content.Text)
                </div>
            </div>
        </div>
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        @foreach (var x in itemsForIteration) {
                            string img = "";
                            if (x.ContentType.Alias == ProductSubCategoryPage.ModelTypeAlias) {
                                var cat = (ProductSubCategoryPage)x;
                                img = cat.TeaserImage.IfNotNull(_ => _.GetCropUrl(890, 1200));
                            } else {
                                img = "";
                            }
                            <div class="swiper-slide cursor-pointer" data-click="@x.Url()">
                                <div class="img-outer"><img data-src="@img" alt="@x.Name" class="swiper-lazy" /></div>
                                <div class="swiper-lazy-preloader"></div>
                                <div class="text-center mt-3 mt-lg-5 text">
                                    <div class="h2">@x.Name</div>
                                    <a href="@x.Url()" class="link">@T.Value("mehr erfahren")</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="right-side">
                    <div class="inner mt-2 mt-lg-0">
                        @foreach (var x in itemsForIteration) {
                            <div class="mt-2 d-inline-block d-lg-block">
                                <a href="@x.Url()" class="btn btn-light d-block text-center">@x.Name</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>