﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (SliderBlock) Model.Content;
    if (content.Hide) {
        return;
    }
}
<section class="slider-block">
    <div class="container" data-aos="fade-in">
        <div class="row">
            <div class="col-md-12 offset-lg-1 col-lg-10">
                <div class="slider swiper-slider">
                    <div class="swiper-wrapper">
                        @foreach (var x in content.Slides) {
                            var slide = (Slide) x.Content;
                            <div class="swiper-slide cursor-pointer slide" data-title="@slide.TopTitle">
                                <div class="bgimage swiper-lazy" data-background="@slide.Image.IfNotNull(_ => _.GetCropUrl(800, 400))" data-resp-img-autosize="true">
                                    <div class="h2">@Html.Raw(WebsiteHelpers.ParseTextareaToHtml(slide.TopTitle))</div>
                                </div>
                                <div class="swiper-lazy-preloader"></div>
                                <div class="container mt-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title">@Html.Raw(slide.Title)</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text">
                                                @Html.Raw(slide.Text)
                                                @if (slide.Link != null) {
                                                    <div class="mt-3 text-right"><a href="@slide.Link.Url" target="@slide.Link.Target" class="link">@slide.Link.Name</a></div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-prev">
                        <span></span>
                    </div>
                    <div class="swiper-button-next">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>