﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (SwipeBlock) Model.Content;
}
<section class="swipe-block">
    <div class="container" data-aos="fade-in">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="h2">@content.Title</div>

                <div class="swiper-slider-swipe">
                    <div class="swiper-wrapper" data-cursor="draggable">
                        @foreach (var x in content.Slides) {
                            var slide = (SwipeItem) x.Content;
                            <div class="swiper-slide " data-title="@slide.InfoTitle">
                                <div class="row">
                                    <div class="col-md-6 col1">
                                        @if (slide.Image != null) {
                                            <div class="bgimage bgimagecontain" data-resp-img-nobg="true" style="padding-top: 100%;" data-resp-img="@slide.Image.Url()?width=500"></div>
                                            @*<img data-src="@slide.Image.Url()?width=500"/>*@
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <div class="infotitle">@slide.InfoTitle</div>
                                        <div class="text mt-3">
                                            @Html.Raw(slide.Text)
                                            @if (slide.Link != null) {
                                                <div class="text-right mt-3"><a href="@slide.Link.Url" target="@slide.Link.Target" class="link">@slide.Link.Name</a></div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="pagination-outer">
                        <div class="act-title"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>