﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (TeasersBlock)Model.Content;
}
<section class="teasers-block">
    <div class="container">
        Teasers
        <div class="row">
            @foreach (var x in content.Teasers) {
                var teaser = (Teaser) x.Content;
                <div class="col-md-4">
                    @teaser.Title
                </div>
            }
        </div>
    </div>
</section>
