﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (TextBlock)Model.Content;
}
<section class="text-block" data-aos="fade-in">
    <div class="saxe js-scrollleft"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-xl-1 col-xl-5">
                <div class="h2">@content.Title</div>
            </div>
            <div class="col-lg-5">
                <div class="text">
                    @Html.Raw(content.Text)
                </div>
            </div>
        </div>
    </div>
</section>
