﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (ZitatsBlock)Model.Content;
    var i = 1;
}
<section class="zitats-block">
    <div class="container">
        <div class="row">
            @if (!String.IsNullOrEmpty(content.Title.ToHtmlString())) {
                <div class="offset-md-1 col-md-10 mb-sm-4">
                    <div class="h2" data-aos="fade-in">@Html.Raw(content.Title)</div>
                </div>
            }
            @foreach (var x in content.Quotes) {
                var info = (Zitat)x.Content;
                <div class="col-md-6 col-xl-4">
                    <div class="zitat position-relative" data-aos="fade-in" data-aos-delay="@(i * 200)">
                        @if (info.ShowWholeImage) {
                            <div class="bgimage bgimagecontain" data-resp-img="@info.Image.Url()?width=600" data-resp-img-nobg="true">
                                <div class="h2">@info.Title</div>
                            </div>
                        } else {
                            <div class="bgimage" data-resp-img="@info.Image.GetCropUrl(200, 200)" data-resp-img-autosize="true">
                                <div class="h2">@info.Title</div>
                            </div>
                        }
                        <div class="text-content">
                            <div class="text">@Html.Raw(info.Text)</div>
                            <div class="author">@info.Author</div>
                        </div>
                    </div>
                </div>
                i++;
            }
        </div>
    </div>
</section>
