.login-overlay__background-image {
    background-image: url(http://static.dina4.it/umb-installer.jpg) !important;
}

.login-overlay__logo {
    display: none;
}

.login-overlay__background-image {
    opacity: 0.05 !important;
}
