﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Web
@using DiNa4.Web.Extensions
@using DiNa4.Web.Helpers
@using Org.BouncyCastle.Asn1.Ocsp
@using Dina4.Web.src
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Options
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject UmbracoHelper Umbraco

@{
    var pageTitle = Model.Value<string>("pagetitle");
    if (String.IsNullOrEmpty(pageTitle)) {
        pageTitle = (ViewBag.PageTitle ?? Model.Name) + " - " + Model.AncestorOrSelf(1).Value("pagetitleSuffix");
    }

    var metadescription = Model.Value<string>("metadescription");

    var header = new HeaderSlider(Model, new NoopPublishedValueFallback());
    
    var googleSiteVerificationCode = Model.Value<string>("googleSiteVerificationCode");
    var tagmanagerCode = Model.AncestorOrSelf(1).Value<string>("GtmContainerIds");
    var hasTagManager = !String.IsNullOrEmpty(tagmanagerCode);
    var images = Model.Value<IEnumerable<MediaWithCrops>>("headerImages");
    MediaWithCrops ogimage = null;
    if (Model.ContentType.Alias == ProductPage.ModelTypeAlias) {
        ogimage = ((ProductPage) Model).PreviewImage;
        metadescription = String.Format(T.Value("MetaDescriptionProductPage"), Model.Name);
    }
    if (Model.ContentType.Alias == ProductSubCategoryPage.ModelTypeAlias) {
        ogimage = ((ProductSubCategoryPage) Model).TeaserImage;
        metadescription = String.Format(T.Value("MetaDescriptionProductSubCategoryPage"), Model.Name);
    }
    if (ogimage == null) {
        ogimage = images != null && images.Any() ? images.FirstOrDefault() : null;
    }

    if (ogimage == null) {
        var startPageImages = Model.Value<MediaWithCrops>("ogImage",fallback:Fallback.ToAncestors);
        ogimage = startPageImages;
    }

    var cb = 1;

    var noheader = (Model.ContentType.Alias != FrontPage.ModelTypeAlias) &&  (Model.ContentType.Alias == ProductSubCategoryPage.ModelTypeAlias || Model.ContentType.Alias == ProductPage.ModelTypeAlias || header.HideHeader || (images == null || images.Any() == false));
    var useragent = Context.UserAgent();

}
<!DOCTYPE html>
<html lang="@Global.GetLanguage().ToString().ToLower()">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@pageTitle</title>
    <meta name="description" content="@metadescription"/>
    @if (Model.Value<bool>("noindex", fallback: Fallback.ToAncestors)) {
        <meta name="robots" content="noindex"/>
    }
    @if (!String.IsNullOrEmpty(googleSiteVerificationCode)) {
        <meta name="google-site-verification" content="@googleSiteVerificationCode"/>
    }
    @foreach (var culture in Model.Cultures) {
        string url = Model.Url(culture: culture.Key, mode: UrlMode.Absolute);
        if (!string.IsNullOrEmpty(url) && url != "#") {
            <link rel="alternate" href="@Model.Url(culture: culture.Key, mode: UrlMode.Absolute)" hreflang="@culture.Key"/>
        }
    }

    @if (Model.HasValue("relCanonical")) {
        var canonicalNode = Model.Value<IPublishedContent>("relCanonical");
        if (canonicalNode.AncestorOrSelf(FrontPage.ModelTypeAlias) != null) { //Check if the canonical-Node is under a Frontpage
            <link rel="canonical" href="@canonicalNode.Url(mode: UrlMode.Absolute)"/>
        }
    } else {
        <link rel="canonical" href="@HttpUtility.UrlDecode((new Uri(Context.Request.GetDisplayUrl())).GetLeftPart(UriPartial.Path))"/>
    }
    <meta property="og:title" content="@pageTitle"/>
    <meta property="og:description" content="@Model.Value("metadescription")"/>
    <meta property="og:url" content="@Model.Url(mode: UrlMode.Absolute)"/>
    <meta property="og:type" content="website"/>
    @if (ogimage != null) {
        <meta property="og:image" content="@Context.GetCurrentDomainWithSchema()@(ogimage.GetCropUrl(width: 720, height: 360, quality: 45))"/>
    }
    @*<script src="https://fa5.dn4.it/js/all.min.js" crossorigin="anonymous" defer></script>*@
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    @*<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>*@
    <style>@try {
               @Html.Raw(System.IO.File.ReadAllText(AppDomain.CurrentDomain.GetData("WebRootPath") + ("/assets/css/site_critical_css.min.css")))
           } catch (Exception ex) {
           } </style>
    <link href="/assets/css/site.min.css?cb=@cb" rel="stylesheet"/>
    @*@Html.PushPromiseStylesheet("/content/css/site.min.css?cb=" + cb)*@
    @*<link rel="preload" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Palanquin:wght@300;600&display=swap" as="style" onload="this.rel = 'stylesheet'"/>
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Palanquin:wght@300;600&display=swap"/></noscript>*@
    <script type="text/javascript">
        /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
        (function(n) {
            "use strict";
            var t = function(t, i, r) {
                function l(n) {
                    if (f.body) {
                        return n();
                    }
                    setTimeout(function() { l(n) })
                }

                function c() {
                    u.addEventListener && u.removeEventListener("load", c);
                    u.media = r || "all"
                }

                var f = n.document, u = f.createElement("link"), e, s, h, o;
                return i ? e = i : (s = (f.body || f.getElementsByTagName("head")[0]).childNodes, e = s[s.length - 1]), h = f.styleSheets, u.rel = "stylesheet", u.href = t, u.media = "only x", l(function() { e.parentNode.insertBefore(u, i ? e : e.nextSibling) }), o = function(n) {
                    for (var i = u.href, t = h.length; t--;) {
                        if (h[t].href === i) {
                            return n();
                        }
                    }
                    setTimeout(function() { o(n) })
                }, u.addEventListener && u.addEventListener("load", c), u.onloadcssdefined = o, o(c), u
            };
            typeof exports != "undefined" ? exports.loadCSS = t : n.loadCSS = t
        })(typeof global != "undefined" ? global : this);
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        (function(n) {
            var t, i;
            n.loadCSS &&
            (t = loadCSS.relpreload = {}, t.support = function() {
                try {
                    return n.document.createElement("link").relList.supports("preload")
                } catch (t) {
                    return !1
                }
            }, t.poly = function() {
                for (var t, r = n.document.getElementsByTagName("link"), i = 0; i < r.length; i++) {
                    t = r[i], t.rel === "preload" && t.getAttribute("as") === "style" && (n.loadCSS(t.href, t, t.getAttribute("media")), t.rel = null)
                }
            }, t.support() ||
            (t.poly(), i = n.setInterval(t.poly, 300), n.addEventListener &&
                n.addEventListener("load",
                    function() {
                        t.poly();
                        n.clearInterval(i)
                    }), n.attachEvent && n.attachEvent("onload", function() { n.clearInterval(i) })))
        })(this);
        !function(a, b, c) {
            "use strict";
            (window.runFeatureTests = function() {
                function c(a, c) { b.className = b.className.replace(new RegExp("(^|\\s)(no-)?" + a + "(\\s|$)"), "$1$3") + (c ? " " : " no-") + a, window.featureResult["has" + a.charAt(0).toUpperCase() + a.slice(1).toLowerCase()] = c }

                window.featureResult = {}, c("js", !0), c("cookiesusage", a.cookie.indexOf("acceptedcookiesusage=1") >= 0), c("placeholder", "placeholder" in HTMLInputElement.prototype);
                var d = a.createElement("canvas"), e = "image/webp";
                c("webp", d.toDataURL && d.toDataURL(e).indexOf(e) >= 0), c("hidpi", window.devicePixelRatio > 1 || window.matchMedia && window.matchMedia("(-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),(min-resolution: 1.5dppx)").matches)
            })()
        }(document, document.documentElement);
    </script>
    @if (!(useragent != null && (useragent.Contains("Speed Insights") || useragent.Contains("Chrome-Lighthouse")))) {
        if (_appSettings.Value.IsLocal == false && hasTagManager) {
            await Html.RenderPartialAsync("~/Views/Partials/Tracking/_GoogleTagManager.cshtml");
        }
    }
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="@Model.ContentType.Alias.ToLower() @(noheader ? "minnav" : "")" data-fixminimize="@(noheader ? "true" : "")">
    <script type="text/javascript">
        if (window.innerWidth < 1200) {
            if (document.body.classList.contains("minnav") == false) {
                document.body.classList.add("minnav");
            }
        }
            </script>
            @if (!(useragent != null && (useragent.Contains("Speed Insights") || useragent.Contains("Chrome-Lighthouse")))) {
        if (_appSettings.Value.IsLocal == false && hasTagManager) {
            await Html.RenderPartialAsync("~/Views/Partials/Tracking/_GoogleTagManagerNoscript.cshtml");
        }
    }

            @*<cache enabled="true" expires-after="@TimeSpan.FromMinutes(20)" vary-by="@Context.Request.GetDisplayUrl()">*@
            <!--your partial view code goes here.-->
            @{ await Html.RenderPartialAsync("~/Views/Partials/_Navi.cshtml"); }
            <main>
            <article>
            @{ await Html.RenderPartialAsync("~/Views/Partials/_Header.cshtml"); }
            @*@{ await Html.RenderPartialAsync("~/Views/Partials/_Breadcrumbs.cshtml"); }*@

            @*</cache>*@
            @RenderBody()
            </article>
            @*<aside>
                <section>Newsletter-Anmeldung<section>
                <section></section>
                <section></section>
        </aside>*@
            </main>
            @*<cache enabled="true" expires-after="@TimeSpan.FromMinutes(20)" vary-by="@Context.Request.GetDisplayUrl()">*@
            @{ await Html.RenderPartialAsync("~/Views/Partials/_Footer.cshtml"); }
            <script type="text/javascript">
        var website = {};
        website.language = '@Global.GetLanguage().ToString().ToLower()';
        website.privacypageUrl = '@(Model.StartPage().PrivacyPage.IfNotNull(_ => _.Url()))';
        website.hasTagmanager = @(hasTagManager ? "true" : "false");
        var prices = [];
    </script>
    <script src="/assets/scripts/header.min.js?cb=@cb" type="text/javascript"></script>
    <script src="/assets/scripts/site.min.js?cb=@cb" type="text/javascript" defer></script>
    <script src="/assets/scripts/enquiry.min.js?cb=@cb" type="text/javascript" defer></script>
    @RenderSection("scripts", false)


    @if (!(useragent != null && (useragent.Contains("Speed Insights") || useragent.Contains("Chrome-Lighthouse")))) {
        if (_appSettings.Value.IsLocal == false && !hasTagManager) {
            await Html.RenderPartialAsync("~/Views/Partials/Tracking/_GoogleAnalytics.cshtml");
            await Html.RenderPartialAsync("~/Views/Partials/Tracking/_FacebookPixel.cshtml");
            @*await Html.RenderPartialAsync("~/Views/Partials/Tracking/_Hotjar.cshtml");*@
            @*@{Html.RenderPartial("Partials/_GoogleRemarketing");}*@
        }
        <script src="https://api.dina4.it/gdpr/cookies/@(_appSettings.Value.GDPR_ID)/dina4consent.js" type="text/javascript" defer></script>
    }
    @*</cache>*@
</body>
</html>