﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Layout.cshtml";
}

@await Html.PartialAsync("_Content")
<div class="container">
<div class="row">
<div class="offset-lg-1 col-lg-8">

@{ await Html.RenderPartialAsync("~/Views/Partials/_EnquiryForm.cshtml", Model); }
</div>
</div>
</div>

@*@(Model.Value<IEnumerable<IPublishedElement>>("blockList"))*@