﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Net
@using System.Text
@using DiNa4.Web.Helpers
@using Microsoft.Extensions.Options
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject IOptions<AppSettings> AppSettings

@{
    Layout = "_Layout.cshtml";

    WebClient client = new WebClient();
    client.Encoding = Encoding.UTF8;
    try {
        String html = client.DownloadString("https://api.dina4.it/gdpr/api/text/" + AppSettings.Value.GDPR_ID + "?languageid=" + ((int) Global.GetLanguage()));

        @await Html.PartialAsync("_Content")
        <section class="maincontent" id="maincontent">
            <div class="container">
                <div class="row">
                    <div class="offset-md-1 col-md-10 content-text">
                        @Html.Raw(html)
                    </div>
                </div>
            </div>
        </section>
    } catch (Exception e) {
        MailHelper.SendErrorMail("Error GetGDPR", e, AppSettings.Value.MailSettings.Hostname);
    }
}