﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Examine
@using DiNa4.Web.Extensions
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row ">
        <div class="col-lg-8 gallery position-relative" data-aos="fade-in">
            <div class="row no-gutters">

                @foreach (var x in Model.Images.Take(2)) {
                    <div class="col-6 position-relative">
                        <div class="bgimage bgimagecontain" data-resp-img="@x.Content.GetCropUrl(200)" data-resp-img-bg="#ffffff" data-resp-img-autosize="false"></div>
                    </div>
                }
                @* <div class="col-6 position-relative">
                    <div class="bgimage bgimagecontain" data-resp-img="@Model.PreviewImage.IfNotNull(_ => _.Content.GetCropUrl(200))" data-resp-img-bg="#ffffff"></div>
                    </div>*@
            </div>
            <div class="logos d-flex align-items-end">
                @if (Model.Logos != null && Model.Logos.Any()) {
                    foreach (var x in Model.Logos) {
                        <img data-src="@x.Url()?width=400" title="@x.Name" alt="Icon @x.Name" />
                    }
                }
            </div>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0 " data-aos="fade-in" data-aos-delay="200">
            <div>
            @*<div>@Model.SKU</div>*@
                <h1>@Model.Title.PrepareForHeading() <span>@Model.SizesText</span></h1>
            @if (Model.Infos.Any()) {
                <div>
                    <ul class="liststyle">
                        @foreach (var x in Model.Infos) {
                            if (String.IsNullOrEmpty(x)) {
                                continue;
                            }
                            <li>@x</li>
                        }
                    </ul>
                </div>
            }

            @if (!String.IsNullOrEmpty(Model.IntroText.ToHtmlString())) {
                <div class="mt-4">
                    @Html.Raw(Model.IntroText)
                </div>
            }
            </div>

        </div>
    </div>
    <div class="row mt-5"  data-aos="fade-in" data-aos-delay="400">
        @if (!String.IsNullOrEmpty(Model.Text.ToHtmlString())) {
            <div class="offset-xl-1 col-xl-8">
                <h2>@T.Value("Beschreibung")</h2>
            </div>
            <div class="offset-xl-1 col-xl-5">
                @Html.Raw(Model.Text)
            </div>
        }
        <div class="col-xl-3">
            @if (Model.ProductFeatures != null && Model.ProductFeatures.Any()) {
                <div class="row  product-features">
                    @foreach (var x in Model.ProductFeatures) {
                        var pf = (ProductFeature) x;
                        <div class="col-6 col-md-3 col-xl-6">
                            @if (pf.Icon != null) {
                                var issvg = pf.Icon.Url().Contains(".svg");

                                if (issvg) {
                                    <img data-src="@pf.Icon.Url()" alt="Icon @pf.Value("title" + Global.GetLanguage())" />
                                } else {
                                    <img data-src="@pf.Icon.GetCropUrl()?height=100" alt="Icon @pf.Value("title" + Global.GetLanguage())" />
                                }
                            }
                            <div>@pf.Value("title" + Global.GetLanguage())</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="row" data-aos="fade-in" >
        <div class="offset-lg-1 col-lg-8">
            <div class="mt-5">
                <div class="tabs-outer js-tabs">
                    <div class="tabs">
                        @{
                            var isfirst = true;
                        }
                        @if (Model.Sizes != null) {
                            <div class="tab js-tab @Html.If(isfirst, "active")" data-id="1">@T.Value("Größen")</div>
                            isfirst = false;
                        }
                        @if (Model.ConfigurationExamples != null && Model.ConfigurationExamples.Any()) {
                            <div class="tab js-tab @Html.If(isfirst, "active")" data-id="2">@T.Value("Beispiele für Anpassungen")</div>
                            isfirst = false;
                        }

                    </div>
                    @{
                        isfirst = true;
                    }
                    @if (Model.Sizes != null) {
                        <div class="tab-content js-tab-content @Html.If(isfirst, "active")" data-id="1"> <img data-src="@Model.Sizes.Url()?width=1600" data-fancybox title="@Model.Sizes.Name" /></div>

                        isfirst = false;
                    }
                    @if (Model.ConfigurationExamples != null && Model.ConfigurationExamples.Any()) {
                        <div class="tab-content js-tab-content @Html.If(isfirst, "active")" data-id="2">
                            <div class="row">

                                @foreach (var ce in Model.ConfigurationExamples) {
                                    <div class="col-6 col-md-4 mb-3 mb-md-0">
                                        <img data-src="@(ce.Url())?width=1600" class="cursor-pointer" data-fancybox="examples" title="@ce.Name" alt="@ce.Name" />
                                    </div>
                                }
                            </div>
                        </div>
                        isfirst = false;
                    }
                </div>
            </div>
            @{ await Html.RenderPartialAsync("~/Views/Partials/_EnquiryForm.cshtml", Model); }
    </div>
</div>
</div>