﻿@import "_variables";
@import "../bootstrap4/mixins";

#pointer-ring {
    /*@include transition;*/
    transition: all 0 ease-out;
    background: transparent;
    opacity: 1;
    z-index: 99999 !important;

    &:before,
    &:after {
        position: absolute;
        content: '';
        opacity: 0;
        visibility: hidden;
        left: 50%;
        right: 50%;
        top: 50%;
        width: 11px;
        height: 22px;
        transform: translateY(-50%) rotate(180deg);
        @include transition;
    }

    &:before {
        transform: translateY(-50%);
    }

    &.on-hover {
        background: red;
        opacity: 0.6;
        padding: 18px !important;
        top: -8px;
        left: -8px;
    }

    &.on-clickable {
        transition: all 100ms ease-out;
        padding: 36px !important;
        background: red;
        opacity: 0.6;
        border-width: 4px;
        top: -26px;
        left: -26px;
    }

    &.on-draggable {
        transition: all 100ms ease-out;
        padding: 36px !important;
        /*background: red;*/
        opacity: 0.6;
        border-width: 4px;
        top: -26px;
        left: -26px;

        &:before {
            top: 50%;
            left: -33px;
            content: '';
            background: url(/Assets/img/chevron-left.svg) no-repeat;
            transform: translateY(-50%);
            opacity: 1;
            visibility: visible;
        }

        &:after {
            position: absolute;
            top: 50%;
            left: auto;
            right: -33px;
            background: url(/Assets/img/chevron-left.svg) no-repeat;
            transform: translateY(-50%) rotate(180deg);
            opacity: 1;
            visibility: visible;
        }
    }
}
/*
#customMouseCursor .image-arrow {
    position: absolute;
    width: 1rem;
    top: 50%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#customMouseCursor .image-arrow .svg-arrow {
    fill: var(--subColor)
}

#customMouseCursor .image-arrow.right {
    left: 110%
}

#customMouseCursor .image-arrow.left {
    right: 110%
}

#customMouseCursor .view {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: "Monument Grotesk";
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .drag {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: "Monument Grotesk";
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .slide {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    fill: #fff;
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .dark {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    fill: #fff;
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .light {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    fill: #fff;
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .click {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--mainColor);
    font-family: "Monument Grotesk";
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .write {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    fill: #fff;
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor .write circle {
    fill: var(--subColor);
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
}

#customMouseCursor .plane {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%
}

#customMouseCursor .plane .img {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    position: relative;
    width: 100%;
    height: 100%
}

#customMouseCursor .plane .svg-plane {
    fill: #fff
}

#customMouseCursor .image-play {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#customMouseCursor .image-play .img {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    position: relative;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%
}

#customMouseCursor .image-play .svg-play {
    fill: #fff
}

#customMouseCursor .image-pause {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#customMouseCursor .image-pause .img {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    position: relative;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%
}

#customMouseCursor .image-pause .svg-pause {
    fill: #fff
}

#customMouseCursor .arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    fill: #fff;
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-link {
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    z-index: 2;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-menu-opened {
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    z-index: 46;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-menu-icon {
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    z-index: 49;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-slide {
    background-color: transparent;
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-slide .slide {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-project-home {
    background-color: transparent;
    width: 6.25vw;
    height: 6.25vw;
    margin: -3.125vw 0 0 -3.125vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-project-home .view {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-project-home.cursore-drag .view {
    opacity: 0
}

#customMouseCursor.cursore-drag {
    background-color: transparent;
    width: 6rem;
    height: 6rem;
    margin: -3rem 0 0 -3rem;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.cursore-drag .drag {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.cursore-drag .image-arrow {
    opacity: 1
}

#customMouseCursor.is-link-type {
    background-color: transparent;
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-link-type .view {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-next-project {
    background-color: transparent;
    width: 6.25vw;
    height: 6.25vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-next-project .view {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-link-2 {
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-link-2 .click {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-playVideo {
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-playVideo .image-play .img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-pauseVideo {
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-pauseVideo .image-pause .img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-writeUs {
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-writeUs .write {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-writeUs .write circle.circle_1 {
    -webkit-animation-name: writeUsIcon;
    animation-name: writeUsIcon;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

#customMouseCursor.is-writeUs .write circle.circle_2 {
    -webkit-animation-name: writeUsIcon;
    animation-name: writeUsIcon;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

#customMouseCursor.is-writeUs .write circle.circle_3 {
    -webkit-animation-name: writeUsIcon;
    animation-name: writeUsIcon;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

#customMouseCursor.is-careerBtn {
    width: 3.125vw;
    height: 3.125vw;
    margin: -1.5625vw 0 0 -1.5625vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-careerBtn .plane {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
}

#customMouseCursor.is-careerBtn .plane .img {
    opacity: 1;
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    -webkit-animation-name: planeIcon;
    animation-name: planeIcon;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

#customMouseCursor.is-darkMode-1 {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-darkMode-1 .light {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-darkMode-2 {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-darkMode-2 .dark {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-nextProject {
    width: 6.25vw;
    height: 6.25vw;
    margin: -3.125vw 0 0 -3.125vw;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s
}

#customMouseCursor.is-nextProject .arrow {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-scrollDown {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#customMouseCursor.is-scrollDown .arrow {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#customMouseCursor.is-scrollTop {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    -webkit-transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    transition: width .23s ease-in-out 0s,height .23s ease-in-out 0s,margin .23s ease-in-out 0s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

#customMouseCursor.is-scrollTop .arrow {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    -webkit-transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s,transform .23s ease-in-out 0s,-webkit-transform .23s ease-in-out 0s
}

#cursorCenter {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--subColor);
    opacity: 1;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-link {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-menu-opened {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-project-home {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.cursore-drag {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-link-type {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-next-project {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-menu-icon {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-slide {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-link-2 {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-writeUs {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-playVideo {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-pauseVideo {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-careerBtn {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-nextProject {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-nextProject {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-darkMode {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-scrollDown {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}

#cursorCenter.is-scrollTop {
    opacity: 0;
    -webkit-transition: opacity .23s ease-in-out 0s;
    transition: opacity .23s ease-in-out 0s
}*/
