﻿@import "_variables";
@import "../bootstrap4/_mixins";

/* -- Footer
------------------------------------------------------------- */
footer {
    margin-top: $margin-L;
    /*background: $color-dark;*/
    background: #ffffff;
    color: #fff;
    position: relative;
    padding: 25px;

    @include media-breakpoint-down(sm){
        padding: 10px;
    }

    .footer-inner {
        padding: $margin-XL 0 $margin-L;
        background: $color-cta;

        img {
            max-width: 50%;
        }
    }

    h3 {
        color: #fff;
        margin-bottom: 1em;
    }

    a, a:hover, a:focus {
        color: #fff;
    }

    li {
        list-style: outside square;
        margin-left: 1em;
    }

    .footer-bottom {
        margin-top: $margin-S;
        color: #000000;

        a {
            color: #000000;
        }
    }

    .footerlinks {

        a {
            text-decoration: underline;
            display: block;
        }

        a + a {
            margin-top: 4px;
        }
    }

    .big {
        font-size: $font-size-L;
        font-weight: 800;
    }

    .partnerimg {
        height: 70px;
        max-width: 70%;
    }

    .icon {
        height: 58px;
        width: 58px;
        margin-top: $margin-M;
    }

    .social {
        a + a {
            margin-left: $margin-L;
        }
    }

    @include media-breakpoint-down(sm) {
        .footer-inner {
            text-align: center;

            img {
                margin: $margin-M 0;
            }
        }

        .footer-bottom{
            text-align:center;
            b{
                display:block;
            }
        }
    }

    @media(max-width: 480px){
        .big{
            font-size: 1rem;
        }
    }
}
