﻿@import "_variables";
@import "../bootstrap4/_mixins";

$border: #c6c6c6;
$border-focus: #aaa;
$color-focus: $color-dark;
$color-active: $color-font;
$color-heading: $color-font;
$color-label: #666;
$color-valid: green;
$color-not-valid: red;


/* -- FORMS
------------------------------------------------------------- */
.form-control {
    border-radius: 0;
}

.btn, .btn:focus, .btn:active,
.btn-primary, .btn-primary:focus, .btn-primary:active {
    background: #ffffff;
    color: $color-cta;
    border: 1px solid $color-cta !important;
    border-radius: 0;
    padding: 0.8em 3em;
    @include transition;
    font-weight: 700;
    outline:none;
    box-shadow:none;

    &:hover {
        background: $color-cta !important;
        color: #fff;
    }
}

.btn-light {
    background: none;
    color: #ffffff;
}

a.btn {
    text-decoration: none;
}


input, textarea, select {
    -moz-transition: border 0.25s ease 0s;
    -o-transition: border 0.25s ease 0s;
    -webkit-transition: border 0.25s ease 0s;
    transition: border 0.25s ease 0s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $color-font;
    font-size: 1em;
    padding: 0.7em;
    border: none;
    background: none;
    display: block;
    margin-bottom: 0.5em;
    border: 3px solid #ffffff;
    width: 100%;

    &:hover, &:focus, &:active {
        outline: none;
    }
}



.multiselect-container {
    background: #000000;

    input {
        width: auto;
        display: inline-block;
        color: #ffffff;
        margin-right: 8px;
    }

    button {
        background: #000000 !important;
    }
}

.form-color {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    /*border: 2px solid #ffffff;*/
}

.check-with-label + .label-for-check {
    outline: 3px solid #ffffff;
    line-height: 0;
    margin-bottom: 30px;
}

.check-with-label:checked + .label-for-check {
    position: relative;
    outline: 3px solid $color-cta;

    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: url('/Assets/img/check_point.svg') no-repeat;
        background-position: center;
        background-size: 50%;
        content: '';
        z-index: 1;
    }
    /*font-weight: bold;*/
    /*filter:grayscale(100%);*/
}

.multiselect {
    border-radius: 0;
    background: #000000;
    border: 1px solid $color-cta;
    color: #ffffff;
    padding-right: 2.5rem;

    .multiselect-selected-text {
        font-weight: 700;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            background: url(/Assets/img/arrow-down.svg) #000000;
            background-repeat: no-repeat;
            background-size: contain;
            /*background-position: 90% 18px;*/
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 22px;
            margin-left: 8px;
            height: 12px;
        }
    }
}


legend {
    font-size: 15px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #C1C1C1;
    width: auto;
}

label {
    font-weight: 300;
    margin: 0;
    color: #ffffff;

    &.error {
        color: red;
        font-size: smaller;
        margin-left: 1em;
    }
}

.honey {
    display: none;
}

.success {
    background: green;
    padding: 10px;
    color: #fff;
}




/*  Enquiry
*************************************************************************************/
.enquiryform {
    .form-group {
        margin-bottom: 20px;
    }

    h2.heading {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        text-align: left;
        color: $color-heading;
        border-bottom: 1px solid $color-heading;
        padding-bottom: 3px;
        margin-bottom: 20px;
    }

    .controls {
        text-align: left;
        position: relative;

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        textarea,
        /*button,*/
        select {
            padding: 12px;
            padding-top: 2rem;
            font-size: 14px;
            width: 100%;
            margin-bottom: 18px;
            color: $color-font;
            font-size: 16px;
            font-weight: 300;
            background-color: transparent;
            border: 3px solid #ffffff;
            @include border-bottom-radius(0);
            @include border-left-radius(0);
            @include border-top-radius(0);
            @include border-right-radius(0);
            @include transition(all .3s);

            &:focus, &:hover {
                outline: none;
                /*border-color: $border-focus;*/
                + label {
                    /*color: $color-focus;*/
                    cursor: text;
                }
            }

            + .fa {
                position: absolute;
                top: 13px;
                right: 8px;
                font-size: 24px;
                color: $color-valid;
            }

            &.valid {
                position: relative;
                border-color: $color-valid !important;

                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 50px;
                }

                + .fa {
                    display: block !important;
                }
            }
        }

        #childrenages label {
            top: -10px;
        }

        #childrenages {
            padding-top: 24px;
        }

        .fa-sort {
            position: absolute;
            right: 10px;
            top: 17px;
            color: #999;
        }

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
        }

        label:not(.error) {
            position: absolute;
            left: 8px;
            top: 2rem;
            color: #ffffff;
            font-size: 16px;
            display: inline-block;
            padding: 4px 10px;
            font-weight: 400;
            background-color: rgba(0,0,0,0);
            pointer-events: none;
            @include transition;

            &.active {
                top: -15px;
                color: #ffffff;
                /*color: $color-active;*/
                background-color: rgba(0,0,0,1);
            }
        }

        label.error {
            position: absolute;
            right: 8px;
            top: -15px;
            color: $color-not-valid !important;
            font-size: 16px;
            display: inline-block;
            padding: 4px 10px;
            font-weight: 400;
            pointer-events: none;
            /*.transition(~"color .3s, top .3s, background-color .8s");*/
            background-color: rgba(255,255,255,1);
        }

        textarea {
            resize: none;
            height: 200px;
        }
    }

    .checkbox input {
        position: relative;
        display: inline-block;
        width: auto;
    }
}

#enquiryform-success, #newsletterform-success {
    text-align: center;
    background-color: lightgreen;
    border: 1px solid green;
    padding: 16px;
}

#enquiryform-error, #newsletterform-error {
    text-align: center;
    background-color: lightcoral;
    border: 1px solid red;
    padding: 16px;
}

.custom-control {
    &.custom-checkbox,
    &.custom-radio, {
        padding-left: 2rem;

        label {
            font-size: 1.3rem;
        }
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $color-cta;
    border-color: $color-cta;
}

.custom-control-label::after,
.custom-control-label::before {
    top: 0.25rem;
    width: 1.3rem;
    left: -2rem;
    height: 1.3rem;
    content: '';
}
