﻿.bgimage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimagecontain {
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
}

.bgimagebottom {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.bgimageparallax {
    background-attachment: fixed;
    background-position-x: 0 !important;
    background-position-y: 0;
}

.position-relative{
    position:relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.cursor-pointer{
    cursor: pointer;
}

body.loading {
    position: relative;

    &:after {
        position: fixed;
        content: '';
        background-color: rgba(0,0,0,0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(/assets/img/Spinner-1s-200px.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 999999;
    }
}
