﻿@import "_variables";
@import "../bootstrap4/mixins";

/* -- Header
------------------------------------------------------------- */
header {
    overflow: hidden;
    /*margin-top: 90px;*/
    position: relative;
    padding: 25px;
    background-color: #ffffff;

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    @media(max-width: 1200px) {
        margin-top: 65px;

        &[data-height="0"] {
            padding: 0 !important;
        }
    }

    &.small {
        background: none;
        height: auto !important;
        padding-bottom: 0;

        .headerslider {
            @include media-breakpoint-up(lg) {
                /* width: (1580 * (10 / 12)) + px;
                height: ((1580 * (10 / 12)) * 0.379) + px;*/
                width: (1580 ) + px;
                height: ((1580 ) * 0.379) + px;
                margin: auto;
                margin-top: 200px;
            }
        }
    }

    .header-title {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        font-size: $font-size-XXL;
        z-index: 1;

        h1 {
            font-weight: 800;
            text-transform: uppercase;
        }



        @include media-breakpoint-down(md) {
            h1 {
                font-size: $font-size-XL;
            }
        }

        @include media-breakpoint-down(sm) {
            h1 {
                font-size: $font-size-L;
            }
        }

        @media (max-width: 450px) {
            h1 {
                font-size: $font-size-L;
            }

            bottom: 0;
        }
    }

    .header-image {
        position: relative;
        /*transition: all 10ms linear;*/

        &:not(.nobg) {
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                background: rgba(0,0,0,0.2);
            }
        }
    }

    .header-text {
        @media(max-height: 900px) {
            display: none !important;
        }
    }



    .header-title-cat {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;

        &:before {
            background: rgba(202,67,63,0.66);
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            top: 0;
            right: 50%;

            @include media-breakpoint-down(md) {
                right: 0;
            }
        }
        /* h1 {
        }*/

        h1 {
            font-weight: 800;
            font-size: $font-size-XXL;
            text-transform: uppercase;
        }

        @include media-breakpoint-down(lg) {
            h1 {
                font-size: $font-size-XL;
            }
        }

        @include media-breakpoint-down(md) {
            h1 {
                font-size: $font-size-L;
            }
        }

        .container, .row {
            height: 100%;
        }

        img {
            height: 130px;
            margin-bottom: $margin-L;
            margin-left: $margin-XL;

            @include media-breakpoint-down(sm) {
                height: 70px;
                margin-left: $margin-M;
                margin-bottom: $margin-M;
            }
        }
    }


    .headerslider {
        /*height: 650px;*/
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;



        .slick-list,
        .slick-track,
        .slick-slide {
            width: 100%;
            height: 100%;
        }

        .headerimage {
            /*height: 650px;*/
            height: 100%;
            background: no-repeat center center;
            background-size: cover;
        }

        .bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 300px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0+100;Neutral+Density */
            background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }

        .content {
            position: absolute;
            bottom: 80px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: $font-size-XXXL;
            color: #fff;
            line-height: 1;
        }
    }

    .noheaderimage {
        height: 200px;
    }

    @include media-breakpoint-down(sm) {
        .headerslider {
            .content {
                font-size: $font-size-XL;
                text-shadow: 0 0 1px #333;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .headerslider {
            .content {
                font-size: $font-size-L;
                text-shadow: 0 0 1px #333;
            }
        }
    }
}

.headertext-mobile {
    padding: $margin-M;
    background: #ffffff;
    color: #000000;

    @include media-breakpoint-down(sm){
        padding: $margin-M 0;
    }
}
