﻿@import "_variables";
@import "../bootstrap4/_mixins";

/*  Generic styles
*************************************************************************************/
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;

    iframe, > div {
        height: 100% !important;
        left: 0;
        position: absolute;
        top: 0;
        width: 100% !important;
    }
}

a.linkArrow:before, .linkArrow > a:before {
    content: '\25b8';
    text-decoration: none;
}


@include media-breakpoint-down(xl) {
    .twoCols {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-gap: 30px;
    }
}


/*  Breadcrumbs
*************************************************************************************/
.breadcrumbs-cont {
    min-height: 80px;
    text-align: center;
    padding: $margin-M;


    .breadcrumb {
        padding-left: 0;
        margin-bottom: 30px;

        a {
            color: $color-font;
        }

        li {
            list-style: none;
            display: inline-block;
            font-style: normal;
        }

        em {
            font-style: normal;
            color: $color-brown;
            text-decoration: underline;
        }

        i {
            font-size: 25px;
            position: relative;
            top: 4px;
        }
    }
}


/*  Animations
*************************************************************************************/
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    text-align: center;
    z-index: 999;

    > * {
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: #7f8c8d;
        color: #ffffff;
        /*font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
        letter-spacing: 2px;
        display: block;
        text-align: center;
    }

    > *:hover,
    > *:focus,
    > *.active {
        color: #ffffff;
    }

    > *:hover,
    > *:focus,
    > *:active,
    > *.active {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .mouse {
        position: relative;
        display: block;
        width: 30px;
        height: 50px;
        margin: 0 auto 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 23px;

        > * {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 -4px;
            background: white;
            border-radius: 50%;
            -webkit-animation: ani-mouse 2.5s linear infinite;
            -moz-animation: ani-mouse 2.5s linear infinite;
            animation: ani-mouse 2.5s linear infinite;
        }
    }
}