﻿/* saira-regular - latin */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/saira-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/saira-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/saira-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/saira-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/saira-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/saira-v8-latin-regular.svg#Saira') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* saira-500 - latin */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/saira-v8-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/saira-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/saira-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/saira-v8-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/saira-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/saira-v8-latin-500.svg#Saira') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* saira-700 - latin */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/saira-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/saira-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/saira-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/saira-v8-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/saira-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/saira-v8-latin-700.svg#Saira') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* saira-800 - latin */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/saira-v8-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/saira-v8-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/saira-v8-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/saira-v8-latin-800.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/saira-v8-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/saira-v8-latin-800.svg#Saira') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* saira-600 - latin */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/saira-v8-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/saira-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/saira-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/saira-v8-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/saira-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/saira-v8-latin-600.svg#Saira') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* saira-900 - latin */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/saira-v8-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/saira-v8-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/saira-v8-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/saira-v8-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/saira-v8-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/saira-v8-latin-900.svg#Saira') format('svg'); /* Legacy iOS */
    font-display: swap;
}

@import "../bootstrap4/_functions";
@import "../bootstrap4/_mixins";
@import "../bootstrap4/_variables";
@import "_variables";

html {
    font-size: $font-size-base + px;

    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

html, body {
    height: 100%;
}

body {
    background: $color-background;
    color: $color-font;
    @include font-primary;
    font-weight: 400;
    font-size: $font-size-body;
    line-height: 1.4;
}

a, a:hover {
    color: $color-font;
}

a:focus, a:active {
    outline: none;
    color: $color-font;
}

b, strong, .strong {
    @include strong;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin: 0;
    font-weight: 900;
    line-height: 1.1;
    color: $color-font;
    @include font-secondary;
}

h1, .h1 {
    font-size: $font-size-XXL;
    margin: 0 0 1em;
}

h2, .h2 {
    font-size: $font-size-XL;
    margin: 0 0 .5em;
    font-weight: 800;
    text-transform: uppercase;
}

h3, .h3 {
    font-size: $font-size-L;
    margin: 0 0 .5em;
    font-weight: 400;
}

p + p {
    margin-top: 8px;
}

@include media-breakpoint-down(sm) {
    h1, .h1 {
        font-size: $font-size-XL;
    }

    h2, .h2 {
        font-size: $font-size-L;
    }

    h3, .h3 {
        font-size: $font-size-M;
    }
}


hr {
    border-top: 1px solid $color-font;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: square;
}


.red {
    color: $color-cta;
}

.link {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 40px;
    position: relative;
    text-decoration: none;


    &:after {
        position: absolute;
        right: 100%;
        top: 50%;
        width: 40px;
        height: 8px;
        background: url(/assets/img/arrow-right.svg) no-repeat top left;
        transform: translateY(-50%);
        content: '';
    }
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &.icon-fb {
        background-image: url(/assets/img/_fb.svg);
    }

    &.icon-ig {
        background-image: url(/assets/img/_ig.svg);
    }
}

.liststyle {
    li {
        margin-left: 50px;
        list-style: none;
        position: relative;
        margin-top: 4px;
        margin-bottom: 4px;

        &:after {
            background: url(/assets/img/check_point.svg) no-repeat;
            background-size: contain;
            width: 32px;
            height: 27px;
            left: -50px;
            content: '';
            position: absolute;
            top: 0;
        }
    }
}

.breadcrumbs {
    margin: $margin-S 0;

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    li {
        display: inline-block;
        list-style: none;
        font-size: (20 / $font-size-base) + rem;
        font-weight: 500;
        margin-left: 0;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    li + li {
        margin-left: 10px;
        position: relative;

        &:before {
            content: '>';
            position: relative;
            left: 0;
            color: $color-cta;
        }
    }
}

.tabs-outer {
    .tabs {
        border-bottom: 1px solid #ffffff;
    }

    .tab {
        color: #ffffff;
        opacity: 0.45;
        @include transition;
        display: inline-block;
        padding: $margin-S $margin-M;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;

        &.active, &:hover {
            opacity: 1;
        }
    }

    .tab-content {
        display: none;
        margin: $margin-M 0 $margin-L;

        &.active {
            display: block;
        }
    }
}

.w-xl-100 {
    @include media-breakpoint-up(xl) {
        width: 100%;
    }
}
