﻿@import "_variables";
@import "../bootstrap4/mixins";

$zindex-navbar: 9999;

.navbar {
    height: 90px;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: $zindex-navbar;
    /*background-color: $color-navbar;*/
    align-items: baseline;
    padding: 30px 60px 0;

    @include transition;

    li {
        list-style-type: none;
    }

    .navbar-brand img {
        height: 106px;
    }

    .navbar-brand {
        position: absolute;
        right: 60px;
        margin-left: 30px;
        top: 50px;

        svg {
            height: 68px;
        }

        @include transition;

        @media(max-width: 1200px) {
            right: 0;
        }

       /* @include media-breakpoint-down(lg) {
            right: 0;
        }*/
    }

    .nav-item {
        position: relative;
        /*height: 90px;*/
        /*&:after {
            position: absolute;
            content: '';
            right: 0;
            top: 4px;
            bottom: 4px;
            width: 1px;
            background-color: #e3e1e0;
        }*/
    }

    .nav-link {
        text-transform: uppercase;
        font-size: $font-size-M;
        text-align: center;
        font-weight: 600;
        @include transition;
        padding: 22px 1.5rem !important;
        color: #ffffff !important;
        /*.fontPrimaryCondensed;*/
        letter-spacing: 2px;

        span {
            display: block;
            text-transform: none;
            font-size: $font-size-S;
            font-weight: 400;
        }
    }


    .nav-item.active, .nav-item:hover {
        .nav-link {
            /*color: @colorGreen;*/
        }
    }

    .nav-item:last-child {
        &:after {
            display: none;
        }
    }

    .bookct {
        background-color: red;
        width: 400px;
        height: 90px;
    }

    .hover-menu {
        position: absolute;
        /*left: 0;
        right: 0;*/
        /*top: 90px;*/
        top: 100%;
        /*background-color: rgba(206,114,133,0.9);*/
        background-color: rgba(150,150,150,0.9);
        z-index: $zindex-navbar;
        text-align: center;
        padding: 15px 30px;
        opacity: 0;
        visibility: hidden;
        @include transition;
        overflow: hidden;
        /*.fontSecondary;*/
        font-weight: 600;
        font-size: $font-size-M;
        font-style: italic;



        ul {
            margin-left: 0;
            padding-left: 0;
        }

        li {
            display: block;
            position: relative;
            text-align: left;
            padding: 4px 0;

            a {
                padding: 0;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                /*color: #ffffff;*/
                &:hover {
                    text-decoration: none;
                    /*color: @colorPrimary;*/
                }
            }

            &:after {
                position: absolute;
                right: 0;
                top: 4px;
                bottom: 4px;
                /*background-color: @colorGrey;*/
                content: '';
                width: 1px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        &:after {
            top: -53px;
            left: 0;
            right: 0;
            height: 50px;
            /*box-shadow: 0 0px 20px rgba(0,0,0,.3);*/
            position: absolute;
            content: '';
            z-index: 999999;
            border-radius: 50%;
        }

        @media (max-width: $grid-float-breakpoint) {
            /*border-top: 1px solid @color-font;*/
            background-color: #eeeeee;
            display: none;
            position: relative;
            opacity: 1;
            visibility: visible;
            /*position: relative;
            max-height: 0;
            padding: 0;
            opacity: 0;
            visibility: hidden;*/
            li {
                text-align: center;
            }
        }
    }

    .nav-item:hover {
        .hover-menu {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width: $grid-float-breakpoint) {
        padding-left: 0;
        padding-right: 0;

        .navbar-collapse {
            background-color: #ffffff;
            border: 1px solid $color-font;
            position: relative;
        }

        .nav-link {
            color: $color-font !important;
        }

        .nav-item.haschilds {
            .nav-link {
                position: relative;

                &:before {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    content: '+';
                    width: 50px;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    line-height: 50px;
                    text-align: center;
                }
            }

            &.active {
                .nav-link {
                    &:before {
                        content: '-';
                    }
                }

                .hover-menu {
                    display: block;
                    /*max-height: 1000px;
                    padding: 15px 30px;
                    opacity: 1;
                    visibility: visible;*/
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .nav-link {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }
    }
    /* Navbar Toggler */
    .navbar-toggler {
        display: inline-block !important;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .navbar-toggler {

        @include media-breakpoint-down(sm) {
            left: 15px;
        }

        border: none;
        position: relative;
        background: transparent !important;
    }

    .navbar-toggler:focus {
        outline: none;
        background: transparent !important;
    }

    .navbar-toggler .icon-bar {
        background-color: $color-font;
        transform: rotate(0deg) translate(0px, 0px);
        @include transition(ease all .2s);

        @media (max-width: $grid-float-breakpoint) {
            background-color: #ffffff;
        }
    }

    .navbar-toggler .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    .navbar-toggler .text {
        position: absolute;
        left: 100%;
        color: #ffffff;
        font-weight: 800;
        font-size: $font-size-M;
        transform: rotate(90deg);
        transform-origin: top left;
        margin-left: 14px;
        margin-top: -6px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .navbar-toggler .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    .icon-bar:nth-child(2) {
        width: 22px;
        transition: ease all .2s;
    }

    .navbar-toggler:hover > .icon-bar:nth-child(2) {
        width: 22px;
        transition: ease all .2s;
    }

    .navbar-toggler:active > .icon-bar:nth-child(2) {
        width: 22px;
        transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 4px);
        transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
        opacity: 0;
        transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
        transition: ease all .2s;
    }
    /* Navbar Toggler END */
}

#logo {
    @include transition;

    .c1 {
        @include transition;
    }
}

body.minnav {
    .navbar {
        background: #000000;

        .navbar-brand {
            top: 4px;
            height: 40px;
        }
    }

    #logo {
        height: 68px;

        .c1 {
            fill: #ffffff !important;
        }
    }

    @include media-breakpoint-down(sm) {
        #logo {
            height: 40px;
            margin-top: 16px;
            text-align: right;
        }
    }
}

#nav-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include transitioncubic;
    pointer-events: none;
    background: #000000;

    &.visible {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .navbar-toggler {
        position: absolute;
        top: 30px;
        left: 30px;

        @include media-breakpoint-down(sm) {
            top: 20px;
            left: 6px;
        }

        .icon-bar {
            background-color: $color-cta;
        }
    }

    .outer {
        height: 100%;
        width: 100%;

        .inner {
            margin: $margin-L;
            margin-top: $margin-XL;
            margin-left: $margin-XL;
            overflow: auto;

            @include media-breakpoint-up(md) {
                height: 80%;
            }
        }

        .left {
            position: absolute;
            top: 0;
            left: 0;
            right: 50%;
            background: #000000;
            border: 25px solid #ffffff;
            bottom: 0;
            border-right: 0;
        }

        .right {
            position: absolute;
            top: 0;
            left: 50%;
            right: 0;
            bottom: 0;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: $color-cta;
                opacity: 0.6;
                content: '';
            }

            &:before {
                position: absolute;
                top: $margin-L;
                right: $margin-L;
                content: '';
                width: 330px;
                height: 70px;
                background: url(/Assets/img/logo-white.svg) no-repeat;
                background-size: contain;
                background-position: top right;
                z-index: 1;
            }

            .bgimage {
                width: 100%;
                height: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            height: auto;
            max-height: 100%;
            overflow: auto;

            .left {
                right: 0;
                border: 10px solid #ffffff;
                position: relative;

                .inner {
                    margin: $margin-XL $margin-L $margin-L 0;
                }
            }

            .right {
                display: none;
            }
        }
    }



    .nav-item-overlay {
        text-align: left;

        a {
            display: block;
            position: relative;
        }

        .nav-link {
            font-size: (70 / $font-size-base) + rem;
            text-align: left;
            text-transform: initial;

            &:after {
                position: absolute;
                bottom: 8px;
                left: 150px;
                right: 0;
                height: 1px;
                background: #ffffff;
                content: '';
                @include transition;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                width: 81px;
                height: 19px;
                display: block;
                background: url(/Assets/img/arrow-right-white.svg) no-repeat;
                background-position: center;
                background-size: contain;
                filter: invert(100%) sepia(4%) saturate(7495%) hue-rotate(186deg) brightness(102%) contrast(110%);
                @include transition;
            }

            &:hover {
                &:before {
                    filter: invert(32%) sepia(29%) saturate(4767%) hue-rotate(341deg) brightness(88%) contrast(77%);
                }
            }

            @include media-breakpoint-down(lg) {
                font-size: $font-size-L;
            }

            @include media-breakpoint-down(lg) {
                font-size: $font-size-L;
                margin-left: 15px;

                &:after {
                    left: 15px;
                }

                &:before {
                    right: 15px;
                    width: 38px;
                }
            }

            @media(max-width: 400px) {
                font-size: $font-size-M;
            }
        }

        .nav-item-sub {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 100%;
            z-index: 1;
            top: 136px;
            margin-left: -60px;
            padding-left: 90px;
            font-size: $font-size-XL;
            line-height: 1.3;
            bottom: 0;
            width: 100%;
            @include transition;

            a {
                /*&:hover{
                    text-decoration: none;
                }*/
            }

            @include media-breakpoint-down(lg) {
                font-size: $font-size-L;
            }

            @include media-breakpoint-down(md) {
                position: relative;
                /* max-height: 0; */
                left: auto;
                right: auto;
                top: auto;
                display: none;
                opacity: 1;
                margin: 0;
                visibility: visible;
                font-size: $font-size-M;
            }
        }



        &.active, &:hover {

            .nav-item-sub {
                opacity: 1;
                visibility: visible;
            }

            .nav-link {
                margin-left: 100px;

                &:after {
                    left: 50px;
                }

                &:before {
                    right: 0px;
                }
            }

            @include media-breakpoint-down(lg) {
                .nav-link {
                    margin-left: 15px;
                }
            }

            @include media-breakpoint-down(md) {
                .nav-item-sub {
                    display: block;
                }

                .nav-link {
                    margin-left: 15px;
                }
            }
        }
    }

    .subnav {
        /*display: inline-block;*/
        padding-right: $margin-L;

        a {
            display: block;
            font-weight: 600;
        }

        .nav-link-subnav {
            margin: $margin-M 0;
            @include transition;
            padding-right: $margin-XL;
            position: relative;
            width: 40%;
            margin-left: $margin-M;

            @include media-breakpoint-down(md) {
                overflow: hidden;
            }

            @include media-breakpoint-down(md) {
                width: 70%;
                padding-right: 0;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            a {
                text-decoration: none !important;
                @include transition;
            }

            &.hassubnav {
                /*position: relative;*/

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 8px;
                    background: url(/Assets/img/arrow-right-white.svg) no-repeat center;
                    background-size: contain;
                    width: 32px;
                    content: '';
                    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(249deg) brightness(105%) contrast(105%);
                    @include transition;
                }
            }

            &:hover {
                &.hassubnav {
                    &:after {
                        filter: invert(36%) sepia(43%) saturate(906%) hue-rotate(314deg) brightness(96%) contrast(101%);
                        right: -$margin-M;

                        @include media-breakpoint-down(md) {
                            right: 0;
                        }
                    }
                }
            }

            &:hover {
                padding-left: $margin-M;

                @include media-breakpoint-down(sm) {
                    padding-left: 10px;
                }
            }

            a:hover {
                text-transform: none;
                color: $color-cta;
            }

            .nav-link-subnav-sub {
                position: absolute;
                left: 100%;
                width: 100%;
                top: 0;
                padding-left: $margin-XL;
                opacity: 0;
                visibility: hidden;
                @include transition;
                /*max-height: 0;*/
                /*overflow: hidden;*/

                @include media-breakpoint-down(md) {
                    position: relative;
                    left: 0;
                    padding-left: $margin-M;
                    max-height: 0;
                    /*      opacity: 1;
                    visibility: visible;*/

                    div {
                        margin-top: 15px;
                    }
                }





                div + div {
                    margin-top: 15px;
                }
            }

            &:hover {
                .nav-link-subnav-sub {
                    opacity: 1;
                    visibility: visible;
                    max-height: 500px !important;
                    overflow: visible;
                }
            }
        }
    }

    .languages {
        position: absolute;
        bottom: $margin-M;
        left: 45px;

        a {
            text-transform: uppercase;
            color: #ffffff;
            margin: 0 8px;
        }

        a.active,
        a:hover {
            text-decoration: none;
            color: $color-cta;
        }
    }

    .info {
        position: absolute;
        bottom: $margin-M;
        right: 15px;
        margin-right: $margin-S;
        text-align: right;
        font-size: $font-size-body;

        p {
            margin-bottom: 0;
        }

        a {
            font-size: (25 / $font-size-base) + rem;
            font-weight: 800;
        }

        @include media-breakpoint-up(md) {
            @media(max-height: 900px) {
                right: 0;
                position: fixed;
                z-index: 99;
            }
        }

        @include media-breakpoint-down(md) {
            right: 0;
            left: 0;
            text-align: center;
        }
    }

    .social {
        position: absolute;
        left: 45px;
        top: 50%;

        .icon {
            background-color: $color-cta;
            border-radius: 50%;
            width: 58px;
            height: 58px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px 30px;
            display: block;
            @include transition;

            &:hover {
                background-color: darken($color-cta, 10%);
            }
        }

        a {
            display: block;

            & + a {
                margin-top: $margin-M;
            }
        }

        .icon-fb {
            background-image: url(/Assets/img/fb.svg);
        }

        .icon-ig {
            background-image: url(/Assets/img/ig.svg);
        }

        .icon-search {
            background-image: url(/Assets/img/search.svg);
        }
    }

    @include media-breakpoint-down(md) {
        .languages, .info, .social {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
        }

        .social {
            text-align: center;

            a {
                display: inline-block;
                margin: 15px 10px;
            }
        }

        .languages {
            text-align: center;
            margin: 15px 0;
        }
    }
}


body.nav-active {
    height: 100%;
    overflow: hidden;
}
