﻿@import "_variables";
@import "../bootstrap4/mixins";

/*KLARO*/
.klaro .cookie-modal .cm-list-input:checked + .cm-list-label .slider,
.klaro .context-notice .cm-list-input:checked + .cm-list-label .slider,
.klaro .cookie-notice .cm-list-input:checked + .cm-list-label .slider,
.klaro .cookie-modal .cm-btn.cm-btn-success, .klaro .context-notice .cm-btn.cm-btn-success, .klaro .cookie-notice .cm-btn.cm-btn-success {
    background-color: $color-cta !important;
    background-color: var(--green1, $color-cta) !important;
}

.klaro .cookie-modal a, .klaro .context-notice a, .klaro .cookie-notice a {
    color: $color-cta !important;
    color: var(--green1, $color-cta) !important;
}

.klaro .cookie-modal .cm-btn.cm-btn-info, 
.klaro .context-notice .cm-btn.cm-btn-info, 
.klaro .cookie-notice .cm-btn.cm-btn-info{
    background: none !important;
}

.klaro .cookie-modal {
    cursor: auto;
}

/*  Slick
*************************************************************************************/
.slick-slider {
    margin-bottom: 0;
}

.slick-slide:focus {
    outline: none;
}


/*  Flatpickr overrides
*************************************************************************************/
body {
    $flatpickrColor: $color-cta;

    .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.endRange,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.selected:focus,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange:hover,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.endRange.nextMonthDay {
        background: $flatpickrColor;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        border-color: $flatpickrColor;
    }

    .flatpickr-day.selected.startRange + .endRange,
    .flatpickr-day.startRange.startRange + .endRange,
    .flatpickr-day.endRange.startRange + .endRange {
        -webkit-box-shadow: -10px 0 0 $flatpickrColor;
        box-shadow: -10px 0 0 $flatpickrColor;
    }

    .flatpickr-day.week.selected {
        border-radius: 0;
        -webkit-box-shadow: -5px 0 0 $flatpickrColor, 5px 0 0 $flatpickrColor;
        box-shadow: -5px 0 0 $flatpickrColor, 5px 0 0 $flatpickrColor;
    }
}


/*  Fancybox overrides
*************************************************************************************/
.fancybox-slide--html .fancybox-content {
    width: 1200px;
    max-width: 90%;
    margin: 0;

    h2 {
        margin: 1em 0;
    }
}