﻿@import "../bootstrap/variables.less";
@import "_variables.less";

@backgroundBrown: #ececec;
@colorBrown: #d1cbc6;
@backgroundLight: #f2f0ed;


/* Price Page
--------------------------------------------------------------------------------------------*/
.dateRow {
    width: 100%;
    position: relative;
    background-color: #F1E9D7;
    margin-bottom: 2px;
}

.dateRow,
.dateRow .dataCell{
    background-color: #F1E9D7 !important;
    border-left: 1px solid #ffffff;
}

.dataRow .dataCell{
    border-left:1px solid #909090;
    border-top:1px solid #909090;
    background:none !important;
}

.dataRow .firstColumn{
    border-left:1px solid #909090;
    border-top:1px solid #909090;
}

.dataRow .innerstage .dataCell:last-child{
     -webkit-box-shadow: inset -2px 0px 2px -1px rgba(144,144,144,1);
-moz-box-shadow: inset -2px 0px 2px -1px rgba(144,144,144,1);
box-shadow: inset -2px 0px 2px -1px rgba(144,144,144,1);
}

.dataRow:last-child{
    border-bottom: 1px solid #909090;
}

.dateRow .stageWrap {
    width: 80%;
    position: relative;
    float: right;
}

.dateRow .stage {
    overflow: hidden;
    width: 100%;
}

.dateRow .firstColumn .cell{
    padding-top: 32px;
    /*font-size: @website-fontsize-middle;*/
}

.roomPrices .dateBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 30px;
    background: url("/assets/img/arrows.png") no-repeat @colorBrown;
    z-index: 1;
}

.dataHeaderRoom {
    position: relative;
    background-color: @backgroundBrown;
    color: white;

    .h2 {
        float: left;
        margin: 0;

        a {
            color: #ffffff;
        }
    }
}

.roomPrices .prevBtn {
    left: -32px;
    background-position: 4px 50%;
}

.roomPrices .nextBtn {
    right: -32px;
    background-position: -34px 50%;
}

.dateRow .cell {
    padding: 20px 10px;
}

.dateRow .cell p {
    font-size: 18px;
    font-weight: bold;
}

.dataRow {
    width: 100%;
    /*margin: 5px 0 0;*/
}

.dataHeader {
    width: 100%;
    /*background: url("/images/bg-pattern.png") @backgroundBrown;*/
    color: #fff;
    margin-top: 4px;
}

.dataHeaderRoom {
    padding: 10px;
}

.dataHeader h2 {
    margin: 0;
    float: left;
    padding: 0;
}

.dataHeader h2 a {
    color: darken(#d1cbc6, 40%);
    line-height: 47px;
}

.dataHeader a {
    text-decoration: none;
    float: right;
}

.dataHeader a.roomDetailLink {
    color: @colorBrown;
    line-height: 47px;
    font-size: 18px;
    display: none;
}

.dataHeader a.btn {
    margin: 0 0 0 20px;
}

.dataCell, .firstColumn {
    float: left;
}

.dataCell .dates{
    display:block;
}

.firstColumn {
    width: 20%;
    clear: left;
    /*font-size: 18px;*/
}

.stage {
    width: 80%;
    position: relative;
    float: right;
    overflow: hidden;
}

.innerstage {
    width: 5000px;
}

.dataCell {
    width: 20%;
}


.dataCell:nth-child(odd) {
    background: @backgroundLight;
    /*border-bottom: 1px solid white;*/
}

.dataCell:nth-child(even) {
    background: #fff;
    /*border-bottom: 1px solid @panorama-graybrown;*/
}

.cell {
    padding: 4px 10px;
    text-align: center;
}

.firstColumn .cell {
    text-align: left;
    padding: 5px 10px;
    /*border-bottom: 1px solid @panorama-graybrown;*/
    .category,
    .size {
        font-size: 14px;
    }

    .name {
        font-weight: bold;
        /*font-size: @vh-font-size-heading2;*/
    }
}



.firstColumn {
    a {
        color: @text-color;
    }

    a:hover {
        color: @backgroundBrown;
    }
}

@media only screen and (min-width : 1290px) {
    .firstColumn .cell {
        padding: 5px 10px 5px 20px;
    }

    .dataHeader a.roomDetailLink {
        display: inherit;
    }
}

@media (max-width: @screen-sm-max) {
    .dateRow .stageWrap {
        width: 70%;
    }

    .firstColumn {
        width: 30%;
    }

    .stage {
        width: 70%;
    }
}

@media (max-width: @screen-xs-max) {
    .dateRow .stageWrap {
        width: 50%;
    }

    .firstColumn {
        width: 50%;
    }

    .stage {
        width: 50%;
    }

    .dataHeaderRoom {
        span {
            display: block;
            float: none !important;
        }

        a {
            float: none;
        }
    }

    .dataHeader a.btn {
        margin: 5px 20px 0 0;
    }

    .roomPrices .nextBtn {
        right: -15px !important;
    }
}


/* === Responsive === */
.pricepage .daterowouter.docked {
    position: fixed;
    left: 0;
    right: 0;
    /*top: 93px;*/
    text-align: center;
    z-index: 1;

    .dateRow{
        /*width: 1140px;*/
        display:inline-block;
    }
}

