﻿@import "_variables";
@import "../bootstrap4/mixins";
@import "../bootstrap4/variables";

main {
    img {
        max-width: 100%;
    }
}

section {
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
    }

    ul li {
        list-style: outside;
        margin-left: 1em;
    }

    a {
        color: $color-font;
        text-decoration: underline;
    }

    & + section {
        margin-top: $margin-L;
    }
}

/* -- Content
------------------------------------------------------------- */
.maincontent {
    margin-top: $margin-XL;

    @include media-breakpoint-down(md) {
        margin-top: $margin-M;
    }
}

/* -- Text
------------------------------------------------------------- */
.text-block {
}

/* -- Teasers
------------------------------------------------------------- */
.teasers-block {
}

/***** Newsletter Block ***********/
.newsletter-block {
    overflow: inherit;
}

script + section {
    margin-top: $margin-L;
}

/*********** Info Block ***********/
.info-block {
    text-align: center;


    .info-title {
        text-transform: uppercase;
        font-size: $font-size-M;
        font-weight: 800;
        margin-top: $margin-S;
    }

    .info-text {
        font-size: $font-size-S;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin: auto;
    }

    .info-teaser {
        padding: $margin-S;
    }

    &.white {
        background: #ffffff;
        color: #000000;
    }
}

section.headertext-mobile + section{
    margin-top: 0;
}
/************ Configuration Block *********/
.configuration-block {
    overflow: visible;
    padding-bottom: $margin-XL;
    margin: $margin-XXXL 0 $margin-XXL;

    .imagemiddle-cont {
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        bottom: -60px;
    }

    .imagemiddle {
        width: 100%;
        height: 100%;
    }

    .conf {
        padding: $margin-L;
        height: 100%;
        font-size: $font-size-S;
        font-weight: 600;
        line-height: 2;
        cursor: pointer;

        .text {
            max-width: 70%;
        }

        @include media-breakpoint-up(lg) {
            /*.button {*/
            /*        opacity: 0;
                visibility: hidden;
                @include transition;
            }

            &:hover {
                .button {
                    opacity: 1;
                    visibility: visible;
                }
            }*/
        }
    }

    .conf-1 {
        background: #2E2D2D;
    }

    .conf-2 {
        background: #ffffff;
        color: #000;

        h2 {
            text-align: right;
            color: #000;
        }

        .text {
            max-width: 70%;
            margin-left: 30%;
        }
    }

    @include media-breakpoint-down(md) {
        .conf-2 .text {
            margin-left: 0;
            max-width: 100%;
        }

        .conf-2 {
            h2 {
                text-align: left;
            }
        }

        .imagemiddle-cont {
            display: none;
        }

        margin-top: $margin-L;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
        .conf {
            padding: $margin-M;

            .text {
                max-width: unset;
            }
        }
    }
}

.configuration-block {
    + section {
        @include media-breakpoint-up(xl) {
            margin-top: $margin-XXXL;
        }
    }

    @include media-breakpoint-down(md) {
        & + .zitats-block {
            margin-top: $margin-L;
        }
    }
}
/************* Zitats Block **********/
.zitats-block {
    margin-top: $margin-XL;

    .bgimage {
        padding-top: 100%;
        position: relative;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000000;
            opacity: 0;
            visibility: hidden;
            content: '';
            @include transition;
        }

        &:hover {
            &:after {
                opacity: 0.45;
            }
        }
    }

    .h2 {
        color: #ffffff;
    }

    .zitat {

        .h2 {
            font-size: $font-size-L;
            position: absolute;
            bottom: $margin-M;
            left: $margin-M;
            right: $margin-M;
            z-index: 1;


            @include media-breakpoint-down(lg) {
                font-size: $font-size-M;
            }
        }


        .bgimage {
            background-color: #ffffff;
        }
    }

    .text {
        margin-top: $margin-M;
        font-weight: 700;
        position: relative;

        p {
            overflow: hidden;
        }

        &:before {
            position: absolute;
            right: 100%;
            color: $color-cta;
            content: '„';
            margin-right: 4px;
            font-size: $font-size-XXL;
            top: 0;
            transform: translateY(-55%);
        }

        &:after {
            position: absolute;
            left: 100%;
            bottom: 0;
            color: $color-cta;
            content: '„';
            margin-left: 4px;
            font-size: $font-size-XXL;
            transform: rotate(180deg) translateY(-55%);
        }


        @include media-breakpoint-down(md) {
            h3 {
                font-size: $font-size-M;
            }

            margin-top: 20px;
        }
    }

    .author {
        margin-top: $margin-M;
        color: $color-cta;
    }

    .text-content {
        width: 80%;
        margin-left: 10%;
    }

    @include media-breakpoint-down(sm) {
        margin-top: $margin-L;

        .bgimage {
            padding-top: 66%;
        }

        /*.zitat {
            margin-top: $margin-M;
        }*/
    }
}

/******************* slider-block ************/
.slider-block {
    margin-top: $margin-XL;

    .slider {
        overflow: hidden;
    }

    .slide {
        .bgimage {
            padding-top: 44%;
            position: relative;

            .h2 {
                position: absolute;
                bottom: -20px;
                left: $margin-XXL;
                font-size: $font-size-XXXL;
                color: #000000;
                margin: 0;
                font-weight: 900;
            }
        }

        .title {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 900;
            margin-left: $margin-XXL;
            font-size: $font-size-L;
        }

        .text {
            margin-right: $margin-XL;
            margin-top: $margin-XL;
            margin-bottom: $margin-M;
        }

        @include media-breakpoint-down(md) {
            .title {
                margin-left: $margin-M;
                font-size: $font-size-M;
            }

            .text {
                margin-right: $margin-M;
            }
        }

        @include media-breakpoint-down(sm) {

            .text {
                margin-right: 0;
                margin-top: 0;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 120px;
        height: 30px;
        top: 20%;

        &:after {
            width: 64px;
            height: 15px;
            background: url(/Assets/img/arrow-right.svg) no-repeat;
            content: '';
        }

        span {
            position: absolute;
            bottom: 100%;
            left: 0;
            color: #ffffff;
            font-weight: 700;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }

    .swiper-button-prev {
        left: 120px;
        transform: translateX(-100%) scaleX(-1);

        span {
            transform: translateX(0) scaleX(-1);
            right: 10px;
            left: auto;
        }
    }

    .swiper-button-next {
        right: 120px;
        transform: translateX(100%);

        span {
            right: 10px;
            left: auto;
        }
    }

    .slider {

        .bgimage {
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -1px;
                width: 200px;
                content: '';
                @include GradientLeftToRight;
                z-index: 2;
            }

            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                right: -1px;
                width: 200px;
                content: '';
                @include GradientRightToLeft;
                z-index: 2;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .slide {
            .bgimage {
                .h2 {
                    font-size: 2rem;
                    bottom: 0;
                    line-height: 1;
                    bottom: -6px;
                }
            }

            .title {
                margin-left: 0;
            }
        }
    }

    @media(max-width:480px) {
        .swiper-button-prev {
            top: 8%;
            /*transform: none;*/
        }

        .swiper-button-next {
            top: 8%;
            /*transform: none;*/
        }

        .slide .bgimage .h2 {
            text-shadow: 0 0 5px #fff;

            br {
                content: ""
            }

            br:after {
                content: "\00a0"
            }
        }
    }
}
/*************** swipe-block **************/
.swipe-block {
    margin-bottom: $margin-XXL;
    padding-bottom: $margin-L;
    position: relative;


    .infotitle {
        margin-top: $margin-XXL;
        font-weight: 900;
        font-size: $font-size-L;
        overflow-wrap: break-word;
    }

    &:before {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 150px;
        background: #2E2D2D;
        content: '';
    }

    .h2 {
        font-size: $font-size-XXL;
    }

    .swiper-slider-swipe {
        padding-bottom: 150px;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            padding-bottom: 70px;
        }
    }

    .pagination-outer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        /*margin-top: $margin-L;*/

        &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5%;
            right: 5%;
            height: 2px;
            background: #ffffff;
            content: '';
        }

        .act-title {
            color: $color-cta;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 15px;
            background: #000000;
            position: relative;
            z-index: 1;
            display: inline-block;

            @include media-breakpoint-down(sm) {
                position: absolute;
                bottom: 100%;
            }
        }
    }

    .swiper-pagination {
        left: 50% !important;
        width: 47.5% !important;
        bottom: 0 !important;
        transform: none !important;
        top: -6px !important;
        display: flex !important;
        justify-content: space-around !important;
    }

    .swiper-pagination-bullet {
        text-align: center;
        color: #000;
        opacity: 1;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        background: #000000;
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: $color-cta;
    }

    .col1 {
        img {
            max-width: 100%;
            display: block;
            margin: auto;
        }
    }

    @include media-breakpoint-down(sm) {
        .infotitle {
            margin-top: $margin-M;
            overflow-wrap: break-word;
        }

        .h2 {
            font-size: $font-size-L;
        }

        .swiper-pagination {
            left: 0 !important;
            right: 0 !important;
            width: 100% !important;
            position: relative;
            top: 4px !important;
        }

        .pagination-outer {
            /*    &:after{
                top: 4px;
            }*/
        }
    }

    @media(max-width: 480px) {
        &:before {
            display: none;
        }

        .infotitle {
            font-size: 1.3rem;
        }

        .swiper-slide {
            background: #2E2D2D;
            padding: $margin-S;
        }
    }
}
/*************** text-block **************/
.text-block {
    position: relative;

    .h2 {
        font-size: $font-size-XXL;
    }

    .saxe {
        height: 130px;
        width: 100%;
        background: url(/assets/img/saxe.svg) no-repeat;
        background-size: auto 100%;
        position: relative;
        left: 200px;
        margin-bottom: $margin-L;
        transition: all 100ms ease-out;
    }

    .text {
        margin-top: $margin-XXL;
    }

    @include media-breakpoint-down(md) {
        .text {
            margin-top: $margin-M;
        }
    }

    @include media-breakpoint-down(sm) {

        .h2 {
            font-size: $font-size-L;
        }


        .saxe {
            left: 100px;
            height: 60px;
        }
    }
}
/*************** productsubcategories-block ************/
.productsubcategories-block {
    margin-top: $margin-XXL;

    img {
        max-width: 100%;
    }

    .img-outer {
        position: relative;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: '';
            border: 4px solid $color-cta;
            @include transitioncubic;
            visibility: hidden;
            opacity: 0;
        }
    }

    .text {
        opacity: 0;
        transition: none;
        visibility: hidden;
        white-space: nowrap;
        overflow: visible;

        @include media-breakpoint-down(sm) {
            .h2 {
                font-size: 1.5rem;
            }
        }
    }

    .swiper-slide-active {
        .img-outer {

            &:after {
                visibility: visible;
                opacity: 1;
            }
        }

        .text {
            opacity: 1;
            visibility: visible;
            @include transitioncubic;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 120px;
        height: 30px;
        top: 94%;

        &:after {
            width: 64px;
            height: 15px;
            background: url(/Assets/img/arrow-right.svg) no-repeat;
            content: '';
        }

        @include media-breakpoint-down(sm) {
            width: 64px;
            height: 15px;

            &:after {
                background-position: right;
            }
        }
    }

    .swiper-button-prev {
        left: 33%;
        transform: translateX(-100%) scaleX(-1);


        @include media-breakpoint-down(md) {
            left: 0;
            transform: scaleX(-1);
        }
    }

    .swiper-button-next {
        right: 33%;
        transform: translateX(100%);

        @include media-breakpoint-down(md) {
            right: 0;
            transform: none;
        }
    }

    .swiper {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 81%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #ffffff;

            @include media-breakpoint-up(xl) {
                top: 86%;
            }

            @media(max-width: 400px) {
                top: 75%;
                display: none;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &:before {
            position: absolute;
            top: 0;
            bottom: 15%;
            left: 0;
            width: 100px;
            content: '';
            z-index: 2;

            @include media-breakpoint-up(xl) {
                bottom: 10%;
            }

            @include GradientLeftToRightLight;
        }
    }

    .right-side {
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background: #000000;
            width: 25%;
            padding: 0 15px 0 $margin-M;
            z-index: 1;

            &:after {
                position: absolute;
                top: 0;
                bottom: 20%;
                right: 100%;
                width: 300px;
                content: '';

                @include media-breakpoint-up(xl) {
                    bottom: 10%;
                }
                /* background: rgb(0,0,0);
                background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);*/

                @include GradientRightToLeft;
            }

            .inner {
                position: absolute;
                top: 75%;
                left: $margin-M;
                right: 15px;
                transform: translateY(-100%);
            }
            /*transform: translateY(-100%);*/
        }

        @include media-breakpoint-up(xl) {
            width: 15%;

            &:after {
                width: 200px;
                /* background: rgb(0,0,0);
                background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);*/

                @include GradientRightToLeft;
            }
            /*transform: translateY(-100%);*/
        }

        @include media-breakpoint-down(sm) {
            .btn {
                padding: 0.3em 1em;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: $margin-XL;
    }
}
/********* ProductSubPage *************/
.product-item {
    position: relative;
    margin-top: $margin-L;
    cursor: pointer;

    .bgimage {
        padding-top: 100%;
    }

    .title {
        text-transform: uppercase;
        font-size: $font-size-L;
        font-weight: 800;
        margin-top: $margin-S;

        @include media-breakpoint-down(md) {
            font-size: (28 / $font-size-base) + rem;
        }
    }
}
/********* ProductPage ************/
.productpage {
    h1 {
        span {
            display: block;
            font-weight: 400;
            font-size: $font-size-M;
        }
    }

    .gallery {
        position: relative;

        .bgimage {
            padding-top: 133%;

            @include media-breakpoint-up(lg) {
                margin-right: $margin-S;
            }
        }
    }

    .product-features {
        text-align: center;
        font-size: $font-size-S;

        img {
            height: 50px;
            margin: auto;
            margin-bottom: 10px;
            display: inline-block;
        }
    }

    .logos {
        display: flex;
        position: absolute;
        right: 30px;
        left: 50%;
        left: calc(50% + 15px);
        bottom: 10px;

        img {
            width: 21%;
            margin: 0 2%;
        }
    }
}
/********* products-block ************/
.products-block {
    overflow: auto;
    padding-bottom:2px;
    .filter {
        .title {
            font-size: $font-size-L;
            font-weight: 700;

            span {
                font-size: $font-size-S;
                font-weight: 500;
                margin-left: $margin-M;
            }
        }

        select {
            border: 1px solid $color-cta;
            padding-right: $margin-L;
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }

        i {
            font-style: normal;
        }

        .filter-selection {
            border-top: 1px solid #ffffff;
            padding: 15px 0;
            margin-top: 15px;
        }

        .icon-reload {
            background-image: url(/Assets/img/reload.svg);
            width: 18px;
            height: 18px;
            margin-left: 30px;
            margin-right: 8px;

            @include media-breakpoint-down(sm) {
                margin-left: 0;
            }
        }

        .reset {
            position: relative;
            top: 4px;

            @include media-breakpoint-down(sm) {
                margin-top: 7px;
                display: block !important;
                text-align: right;
            }

            @include transition;

            &:hover {
                color: $color-cta;
            }
        }

        .btn-group {
            margin-top: 4px;
        }

        .info {
            color: $color-cta;
            font-size: $font-size-L;
            position: absolute;
            top: 0;
            right: 15px;


            @include media-breakpoint-down(md) {
                position: relative;
                top: 0;
                right: auto;
                font-size: $font-size-M;
            }
        }
    }

    .paging {
        margin-left: 0;
        padding-left: 0;
        margin: auto;
        margin-top: $margin-L;
        text-align: center;

        .page {
            list-style: none;
            display: inline-block;
            margin: 0 15px;

            a {
                text-decoration: none !important;
            }
        }

        .page.current {
            font-weight: 800;

            a {
                color: $color-cta;
            }
        }

        .prev {
            background: url(/Assets/img/chevron-left.svg) no-repeat;
            background-size: contain;
            background-position: center;
            width: 30px;
            height: 15px;
            display: inline-block;
        }

        .next {
            background: url(/Assets/img/chevron-left.svg) no-repeat;
            background-size: contain;
            background-position: center;
            width: 30px;
            height: 15px;
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    #products-result {
        min-height: 350px;
    }
}
