﻿@import "../bootstrap4/_variables";

//========= Colors =============================
$color-font: #ffffff;
$color-dark: #322f2c;
$color-background: #000000;
$color-cta: #CA433F;
$color-navbar: #888888;

//========= Font Sizes =============================
$font-size-base: 18;
$font-size-XXXL: (100 / $font-size-base) + rem;
$font-size-XXL: (60 / $font-size-base) + rem;
$font-size-XL: (45 / $font-size-base) + rem;
$font-size-L: (35 / $font-size-base) + rem;
$font-size-M: (19 / $font-size-base) + rem;
$font-size-body: 1rem;
$font-size-S: (16 / $font-size-base) + rem;
$font-size-XS: (14 / $font-size-base) + rem;

//==========
$pd: $grid-gutter-width*2;


//========= Margins =============================
$margin-XXXL: $grid-gutter-width * 8;
$margin-XXL: $grid-gutter-width * 4; 
$margin-XL: $grid-gutter-width * 3; 
$margin-L: $grid-gutter-width * 2; 
$margin-M: $grid-gutter-width;
$margin-S: $grid-gutter-width / 2;
$margin-XS: 8px;

//========= Grid ===============================
$grid-float-breakpoint: (map-get($grid-breakpoints, "lg") - 0.02);

//========= Mixins =============================
@mixin strong {
    font-weight: 800;
}

%strong {
    @include strong;
}

@mixin font-primary {
    font-family: 'Saira', sans-serif;
}
@mixin font-secondary {
    font-family: 'Saira', sans-serif;
}

@mixin indent {
    padding-left: 1.5em;
    text-indent: -1.5em;
}

@mixin title {
    color: $color-font;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-L;
    margin-bottom: 1em;
    line-height: 1.2;
}

@mixin textTitle {
    color: $color-font;
    font-weight: 600;
}

@mixin absoluteFull {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin transition {
    -moz-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

@mixin transitioncubic {
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

@mixin GradientLeftToRightLight {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.520045518207283) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.520045518207283) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.520045518207283) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

@mixin GradientLeftToRight {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}


@mixin GradientRightToLeft {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}