﻿@using Dina4.Web.src
@using Microsoft.Extensions.Options
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var gacode = Model.AncestorOrSelf(1).Value<string>("googleAnalyticsId");
    if (String.IsNullOrEmpty(gacode)) {
        return;
    }
    var firstgacode = gacode.Split(";".ToCharArray(), StringSplitOptions.RemoveEmptyEntries).FirstOrDefault();
}


<script data-name="googleanalytics" type="text/plain" data-type="application/javascript">
// Set to the same value as the web property used on the site
    var gaProperty = '@gacode';
// Disable tracking if the opt-out cookie exists.
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
        window[disableStr] = true;
    }
// Opt-out function
    function gaOptout() {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async type="text/plain"  data-src="https://www.googletagmanager.com/gtag/js?id=@firstgacode" data-name="googleanalytics" data-type="application/javascript"></script>
<script data-name="googleanalytics" type="text/plain" data-type="application/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    @foreach (var x in gacode.Split(";".ToCharArray(), StringSplitOptions.RemoveEmptyEntries)) {
            <text>gtag('config', '@x', { 'anonymize_ip': true });</text>
    }
</script>