﻿@using Dina4.Web.src
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var container = Model.AncestorOrSelf(1).Value<string>("GtmContainerIds");
    if (String.IsNullOrEmpty(container)) {
        return;
    }
}
@foreach (var code in container.Split(";".ToCharArray(), StringSplitOptions.RemoveEmptyEntries)) {
    <script data-type="application/javascript" type="text/plain" data-name="googletagmanager">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','@code');</script>
}
