﻿@using Dina4.Web.src
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var container = Model.AncestorOrSelf(1).Value<string>("GtmContainerIds");
    if (String.IsNullOrEmpty(container)) {
        return;
    }
}

@foreach (var code in container.Split(";".ToCharArray(), StringSplitOptions.RemoveEmptyEntries)) {
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@(code)" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript> 
}

