﻿@using Dina4.Web.src
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var gacode = Model.AncestorOrSelf(1).Value<string>("googleAnalyticsId");
    if (String.IsNullOrEmpty(gacode)) {
        return;
    }
}

<script data-name="hotjar" type="text/plain" data-type="application/javascript">
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 1261309, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
